<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dim.dao.DimUserLabMapper">
    <delete id="deleteBySourceId">
        DELETE
        FROM dim_user_lab
        WHERE source_id = #{sourceId}
    </delete>
    <select id="getUserLab" resultType="com.leo.ad.codriver.dim.entity.DimUserLab">
        SELECT dul.id,
               ucg.id source_id,
               ucg.pkg_config_group_id,
               pcg.pkg,
               pcg.pvc,
               pcg.svc,
               ucg.user_id,
               pcg.name,
               ucg.config_group_type,
               ucg.config_group_id
        from ods_user_config_group_diversion ucg
                 left join ods_pkg_config_group_diversion pcg on (ucg.pkg_config_group_id = pcg.id)
                 LEFT JOIN dim_user_lab dul on (dul.source_id = ucg.id)
        where ucg.id = #{userLabId}
    </select>
</mapper>
