<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dim.dao.DimUserInfoMapper">

    <select id="queryOdsRealTimeUserInfo" resultType="com.leo.ad.codriver.dim.entity.RealTimeUserInfoDTO">

        SELECT user_v.user_id,
               ou.aid,
               ou.pkg,
               ou.gaid,
               ou.dates,
               ou.create_time            register_time,
               ou.last_login_dates,
               ou.last_login             last_login_time,
               user_v.version,
               user_v.min_version,
               IFNULL(ouh.address, 'IN') country
        FROM ods_user ou
                 left join (SELECT user_id, max(pvn) `version`, min(pvn) min_version
                            FROM ods_user_version ouv
                            WHERE ouv.user_id = #{userId}
                            GROUP BY user_id) user_v ON (ou.id = user_v.user_id)
                 LEFT JOIN ods_user_hema ouh ON (ou.aid = ouh.aid and ouh.pkg = ou.pkg)
        where ou.id = #{userId}
    </select>
    <select id="getUserInfoByUserId" resultType="com.leo.ad.codriver.dim.entity.DimUserInfo">
        SELECT id,
               user_id,
               aid,
               pkg,
               country,
               version,
               gaid,
               dates,
               register_time,
               last_version,
               last_login_dates,
               last_login_time,
               create_time,
               update_time
        FROM dim_user_info
        WHERE user_id = #{userId}
    </select>
</mapper>
