<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.clean.dao.DwdUserLoginRecordCleanDao">


    <delete id="deleteByTwoMonthsAgo">
        DELETE
        FROM analysis_data.dwd_user_login_record
        where dates <![CDATA[ <=  ]]> DATE_FORMAT(NOW() - INTERVAL 4 MONTH, '%Y%m01')

    </delete>
</mapper>
