<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgVerUsrcConversionMapper">

    <select id="queryActiveList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcConversion">
        SELECT ddpvuc.id,
               t.dates,
               t.pkg,
               t.`user_type`,
               t.`version`,
               t.user_source,
               t.user_num,
               t.extra_type source_type
        FROM (select duc.dates,
                     duc.pkg,
                     0                              `user_type`,
                     duc.version                    `version`,
                     IFNULL(dus.network, 'Unknown') user_source,
                     count(DISTINCT duc.user_id)    user_num,
                     duc.extra_type
              from dwd_user_conversion duc
                       left join dim_user_source dus on (dus.user_id = duc.user_id)
              where duc.dates = #{dates}
              group by duc.dates, duc.pkg, duc.version, duc.extra_type, IFNULL(dus.network, 'Unknown')) t
                 left join dws_daily_pkg_ver_usrc_conversion ddpvuc
                           on (t.dates = ddpvuc.dates and t.pkg = ddpvuc.pkg and t.user_type = ddpvuc.user_type and
                               t.version = ddpvuc.version and t.user_source = ddpvuc.user_source and
                               t.extra_type = ddpvuc.source_type)
    </select>
    <select id="queryNewList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcConversion">
        SELECT ddpvuc.id,
               t.dates,
               t.pkg,
               t.`user_type`,
               t.`version`,
               t.user_source,
               t.user_num,
               t.extra_type source_type
        FROM (select duc.dates,
                     duc.pkg,
                     1                              `user_type`,
                     duc.version                    `version`,
                     IFNULL(dus.network, 'Unknown') user_source,
                     count(DISTINCT duc.user_id)    user_num,
                     duc.extra_type
              from dwd_user_conversion duc
                       left join dim_user_source dus on (dus.user_id = duc.user_id)
              where duc.dates = #{dates}
                and duc.dates = duc.register_dates
              group by duc.dates, duc.pkg, duc.version, duc.extra_type, IFNULL(dus.network, 'Unknown')) t
                 left join dws_daily_pkg_ver_usrc_conversion ddpvuc
                           on (t.dates = ddpvuc.dates and t.pkg = ddpvuc.pkg and t.user_type = ddpvuc.user_type and
                               t.version = ddpvuc.version and t.user_source = ddpvuc.user_source and
                               t.extra_type = ddpvuc.source_type)
    </select>
    <select id="queryDbList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcConversion">
        select id,
               dates,
               pkg,
               version,
               user_source,
               user_type,
               user_num,
               source_type
        from dws_daily_pkg_ver_usrc_conversion
        where dates = #{dates}
    </select>
</mapper>
