<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllLabConversionMapper">
    <delete id="deleteByDates">
        delete
        from dws_daily_package_all_lab_conversion
        where dates = #{dates}
    </delete>
    <insert id="syncActiveList">
        insert into dws_daily_package_all_lab_conversion(dates, pkg, `user_type`, `version`, config_group_type,
                                                         config_group_name, user_num)
        select duc.dates,
               duc.pkg,
               0,
               duc.version,
               dul.config_group_type,
               dul.name config_group_name,
               count(DISTINCT duc.user_id)
        from dwd_user_conversion duc
                 INNER JOIN dim_user_lab dul on (dul.user_id = duc.user_id)
        where duc.dates = #{dates}
        group by duc.dates, duc.pkg, duc.version, dul.config_group_type,
                 dul.name
    </insert>
    <insert id="syncNewList">
        insert into dws_daily_package_all_lab_conversion(dates, pkg, `user_type`, `version`, config_group_type,
                                                         config_group_name, user_num)
        select duc.dates,
               duc.pkg,
               1,
               duc.version,
               dul.config_group_type,
               dul.name config_group_name,
               count(DISTINCT duc.user_id)
        from dwd_user_conversion duc
                 INNER JOIN dim_user_lab dul on (dul.user_id = duc.user_id)
        where duc.dates = #{dates}
          and duc.dates = duc.register_dates
        group by duc.dates, duc.pkg, duc.version, dul.config_group_type,
                 dul.name
    </insert>


</mapper>
