<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyCohortPkgUsrcQpLtvMapper">

    <select id="queryDbListByDates" resultType="com.leo.ad.codriver.dws.entity.DwsDailyCohortPkgUsrcQpLtv">
        select id,
               dates,
               register_dates,
               pkg,
               cohort_day,
               user_source,
               river_user_num,
               river_event_ltv,
               river_user_ltv,
               mystery_box_user_num,
               mystery_box_event_ltv,
               mystery_box_user_ltv,
               total_user_num,
               total_event_ltv,
               total_user_ltv
        from dws_daily_cohort_pkg_usrc_qp_ltv
        where dates = #{dates}
    </select>
</mapper>
