<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyCohortPkgUsrcShareMapper">

    <resultMap id="BaseResultMap" type="com.leo.ad.codriver.dws.entity.DwsDailyCohortPkgUsrcShare">
        <result property="id" column="id" jdbcType="BIGINT" />
        <result property="dates" column="dates" jdbcType="INTEGER" />
        <result property="registerDates" column="register_dates" jdbcType="INTEGER" />
        <result property="userSource" column="user_source" jdbcType="VARCHAR" />
        <result property="cohortDay" column="cohort_day" jdbcType="BIGINT" />
        <result property="pkg" column="pkg" jdbcType="VARCHAR" />
        <result property="invitationNum" column="invitation_num" jdbcType="BIGINT" />
        <result property="fillCodeNum" column="fill_code_num" jdbcType="BIGINT" />
        <result property="totalUserNum" column="total_user_num" jdbcType="BIGINT" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id,dates,register_dates,
        user_source,cohort_day,pkg,
        invitation_num,fill_code_num,total_user_num,
        create_time
    </sql>
    <select id="queryDbListByDates" resultType="com.leo.ad.codriver.dws.entity.DwsDailyCohortPkgUsrcShare">
        SELECT
        <include refid="Base_Column_List" />
        FROM dws_daily_cohort_pkg_usrc_share
        WHERE dates = #{dates}
    </select>
</mapper>
