<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageRetentionMapper">

    <delete id="deleteByDates">
        delete
        from dws_daily_package_retention
        where dates = #{dates}
    </delete>
    <insert id="syncData">
        insert into dws_daily_package_retention(dates, pkg, country, `version`,
                                                register_dates, register_day, retention_user_num)
        select lr.dates,
               lr.pkg,
               lr.country,
               dui.version,
               lr.register_dates,
               TIMESTAMPDIFF(DAY, lr.register_dates, lr.dates) register_day,
               count(DISTINCT lr.user_id)                      retention_user_num
        from dwd_user_login_record lr
                 left join dim_user_info dui on dui.user_id = lr.user_id
        where lr.dates = #{dates}
        group by lr.dates, lr.pkg, lr.country, dui.version, lr.register_dates
    </insert>
    <select id="query" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageRetention">
        select id,
               dates,
               pkg,
               country,
               `version`,
               register_dates,
               register_day,
               retention_user_num
        from dws_daily_package_retention
        where dates = #{loginDates}
          and register_dates = #{registerDates}
          and pkg = #{pkg}
          and version = #{version}
          and country = #{country}
    </select>
</mapper>
