<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyCohortPkgUsrcAdvertisingMapper">

    <resultMap id="BaseResultMap" type="com.leo.ad.codriver.dws.entity.DwsDailyCohortPkgUsrcAdvertising">
        <result property="id" column="id" jdbcType="BIGINT" />
        <result property="dates" column="dates" jdbcType="INTEGER" />
        <result property="registerDates" column="register_dates" jdbcType="INTEGER" />
        <result property="pkg" column="pkg" jdbcType="VARCHAR" />
        <result property="cohortDay" column="cohort_day" jdbcType="BIGINT" />
        <result property="userSource" column="user_source" jdbcType="VARCHAR" />
        <result property="totalUserNum" column="total_user_num" jdbcType="INTEGER" />
        <result property="totalShowCount" column="total_show_count" jdbcType="INTEGER" />
        <result property="totalIncome" column="total_income" jdbcType="DECIMAL" />
        <result property="totalEcpm" column="total_ecpm" jdbcType="DECIMAL" />
        <result property="totalNotCustomDirectsoldUserNum" column="total_not_custom_directsold_user_num"
                jdbcType="INTEGER" />
        <result property="totalNotCustomDirectsoldShowCount" column="total_not_custom_directsold_show_count"
                jdbcType="INTEGER" />
        <result property="totalNotCustomDirectsoldIncome" column="total_not_custom_directsold_income"
                jdbcType="DECIMAL" />
        <result property="totalNotCustomDirectsoldEcpm" column="total_not_custom_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="totalNotCustomBannerUserNum" column="total_not_custom_banner_user_num" jdbcType="INTEGER" />
        <result property="totalNotCustomBannerShowCount" column="total_not_custom_banner_show_count"
                jdbcType="INTEGER" />
        <result property="totalNotCustomBannerIncome" column="total_not_custom_banner_income" jdbcType="DECIMAL" />
        <result property="totalNotCustomBannerEcpm" column="total_not_custom_banner_ecpm" jdbcType="DECIMAL" />
        <result property="directsoldUserNum" column="directsold_user_num" jdbcType="INTEGER" />
        <result property="directsoldShowCount" column="directsold_show_count" jdbcType="INTEGER" />
        <result property="directsoldIncome" column="directsold_income" jdbcType="DECIMAL" />
        <result property="directsoldEcpm" column="directsold_ecpm" jdbcType="DECIMAL" />
        <result property="customNetworkUserNum" column="custom_network_user_num" jdbcType="INTEGER" />
        <result property="customNetworkShowCount" column="custom_network_show_count" jdbcType="INTEGER" />
        <result property="customNetworkIncome" column="custom_network_income" jdbcType="DECIMAL" />
        <result property="customNetworkEcpm" column="custom_network_ecpm" jdbcType="DECIMAL" />
        <result property="customDirectsoldUserNum" column="custom_directsold_user_num" jdbcType="INTEGER" />
        <result property="customDirectsoldShowCount" column="custom_directsold_show_count" jdbcType="INTEGER" />
        <result property="customDirectsoldIncome" column="custom_directsold_income" jdbcType="DECIMAL" />
        <result property="customDirectsoldEcpm" column="custom_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="bannerUserNum" column="banner_user_num" jdbcType="INTEGER" />
        <result property="bannerShowCount" column="banner_show_count" jdbcType="INTEGER" />
        <result property="bannerIncome" column="banner_income" jdbcType="DECIMAL" />
        <result property="bannerEcpm" column="banner_ecpm" jdbcType="DECIMAL" />
        <result property="bannerDirectsoldUserNum" column="banner_directsold_user_num" jdbcType="INTEGER" />
        <result property="bannerDirectsoldShowCount" column="banner_directsold_show_count" jdbcType="INTEGER" />
        <result property="bannerDirectsoldIncome" column="banner_directsold_income" jdbcType="DECIMAL" />
        <result property="bannerDirectsoldEcpm" column="banner_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="bannerExchangeUserNum" column="banner_exchange_user_num" jdbcType="INTEGER" />
        <result property="bannerExchangeShowCount" column="banner_exchange_show_count" jdbcType="INTEGER" />
        <result property="bannerExchangeIncome" column="banner_exchange_income" jdbcType="DECIMAL" />
        <result property="bannerExchangeEcpm" column="banner_exchange_ecpm" jdbcType="DECIMAL" />
        <result property="bannerNetworkUserNum" column="banner_network_user_num" jdbcType="INTEGER" />
        <result property="bannerNetworkShowCount" column="banner_network_show_count" jdbcType="INTEGER" />
        <result property="bannerNetworkIncome" column="banner_network_income" jdbcType="DECIMAL" />
        <result property="bannerNetworkEcpm" column="banner_network_ecpm" jdbcType="DECIMAL" />
        <result property="bannerCustomNetworkUserNum" column="banner_custom_network_user_num" jdbcType="INTEGER" />
        <result property="bannerCustomNetworkShowCount" column="banner_custom_network_show_count" jdbcType="INTEGER" />
        <result property="bannerCustomNetworkIncome" column="banner_custom_network_income" jdbcType="DECIMAL" />
        <result property="bannerCustomNetworkEcpm" column="banner_custom_network_ecpm" jdbcType="DECIMAL" />
        <result property="bannerMintegralBiddingUserNum" column="banner_mintegral_bidding_user_num"
                jdbcType="INTEGER" />
        <result property="bannerMintegralBiddingShowCount" column="banner_mintegral_bidding_show_count"
                jdbcType="INTEGER" />
        <result property="bannerMintegralBiddingIncome" column="banner_mintegral_bidding_income" jdbcType="DECIMAL" />
        <result property="bannerMintegralBiddingEcpm" column="banner_mintegral_bidding_ecpm" jdbcType="DECIMAL" />
        <result property="bannerNotCustomDirectsoldUserNum" column="banner_not_custom_directsold_user_num"
                jdbcType="INTEGER" />
        <result property="bannerNotCustomDirectsoldShowCount" column="banner_not_custom_directsold_show_count"
                jdbcType="INTEGER" />
        <result property="bannerNotCustomDirectsoldIncome" column="banner_not_custom_directsold_income"
                jdbcType="DECIMAL" />
        <result property="bannerNotCustomDirectsoldEcpm" column="banner_not_custom_directsold_ecpm"
                jdbcType="DECIMAL" />
        <result property="interUserNum" column="inter_user_num" jdbcType="INTEGER" />
        <result property="interShowCount" column="inter_show_count" jdbcType="INTEGER" />
        <result property="interIncome" column="inter_income" jdbcType="DECIMAL" />
        <result property="interEcpm" column="inter_ecpm" jdbcType="DECIMAL" />
        <result property="interDirectsoldUserNum" column="inter_directsold_user_num" jdbcType="INTEGER" />
        <result property="interDirectsoldShowCount" column="inter_directsold_show_count" jdbcType="INTEGER" />
        <result property="interDirectsoldIncome" column="inter_directsold_income" jdbcType="DECIMAL" />
        <result property="interDirectsoldEcpm" column="inter_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="interExchangeUserNum" column="inter_exchange_user_num" jdbcType="INTEGER" />
        <result property="interExchangeShowCount" column="inter_exchange_show_count" jdbcType="INTEGER" />
        <result property="interExchangeIncome" column="inter_exchange_income" jdbcType="DECIMAL" />
        <result property="interExchangeEcpm" column="inter_exchange_ecpm" jdbcType="DECIMAL" />
        <result property="interNetworkUserNum" column="inter_network_user_num" jdbcType="INTEGER" />
        <result property="interNetworkShowCount" column="inter_network_show_count" jdbcType="INTEGER" />
        <result property="interNetworkIncome" column="inter_network_income" jdbcType="DECIMAL" />
        <result property="interNetworkEcpm" column="inter_network_ecpm" jdbcType="DECIMAL" />
        <result property="interMintegralBiddingUserNum" column="inter_mintegral_bidding_user_num" jdbcType="INTEGER" />
        <result property="interMintegralBiddingShowCount" column="inter_mintegral_bidding_show_count"
                jdbcType="INTEGER" />
        <result property="interMintegralBiddingIncome" column="inter_mintegral_bidding_income" jdbcType="DECIMAL" />
        <result property="interMintegralBiddingEcpm" column="inter_mintegral_bidding_ecpm" jdbcType="DECIMAL" />
        <result property="interVungleBiddingUserNum" column="inter_vungle_bidding_user_num" jdbcType="INTEGER" />
        <result property="interVungleBiddingShowCount" column="inter_vungle_bidding_show_count" jdbcType="INTEGER" />
        <result property="interVungleBiddingIncome" column="inter_vungle_bidding_income" jdbcType="DECIMAL" />
        <result property="interVungleBiddingEcpm" column="inter_vungle_bidding_ecpm" jdbcType="DECIMAL" />
        <result property="interNotCustomDirectsoldUserNum" column="inter_not_custom_directsold_user_num"
                jdbcType="INTEGER" />
        <result property="interNotCustomDirectsoldShowCount" column="inter_not_custom_directsold_show_count"
                jdbcType="INTEGER" />
        <result property="interNotCustomDirectsoldIncome" column="inter_not_custom_directsold_income"
                jdbcType="DECIMAL" />
        <result property="interNotCustomDirectsoldEcpm" column="inter_not_custom_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="mrecUserNum" column="mrec_user_num" jdbcType="INTEGER" />
        <result property="mrecShowCount" column="mrec_show_count" jdbcType="INTEGER" />
        <result property="mrecIncome" column="mrec_income" jdbcType="DECIMAL" />
        <result property="mrecEcpm" column="mrec_ecpm" jdbcType="DECIMAL" />
        <result property="mrecDirectsoldUserNum" column="mrec_directsold_user_num" jdbcType="INTEGER" />
        <result property="mrecDirectsoldShowCount" column="mrec_directsold_show_count" jdbcType="INTEGER" />
        <result property="mrecDirectsoldIncome" column="mrec_directsold_income" jdbcType="DECIMAL" />
        <result property="mrecDirectsoldEcpm" column="mrec_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="mrecExchangeUserNum" column="mrec_exchange_user_num" jdbcType="INTEGER" />
        <result property="mrecExchangeShowCount" column="mrec_exchange_show_count" jdbcType="INTEGER" />
        <result property="mrecExchangeIncome" column="mrec_exchange_income" jdbcType="DECIMAL" />
        <result property="mrecExchangeEcpm" column="mrec_exchange_ecpm" jdbcType="DECIMAL" />
        <result property="mrecCustomNetworkUserNum" column="mrec_custom_network_user_num" jdbcType="INTEGER" />
        <result property="mrecCustomNetworkShowCount" column="mrec_custom_network_show_count" jdbcType="INTEGER" />
        <result property="mrecCustomNetworkIncome" column="mrec_custom_network_income" jdbcType="DECIMAL" />
        <result property="mrecCustomNetworkEcpm" column="mrec_custom_network_ecpm" jdbcType="DECIMAL" />
        <result property="mrecNotCustomDirectsoldUserNum" column="mrec_not_custom_directsold_user_num"
                jdbcType="INTEGER" />
        <result property="mrecNotCustomDirectsoldShowCount" column="mrec_not_custom_directsold_show_count"
                jdbcType="INTEGER" />
        <result property="mrecNotCustomDirectsoldIncome" column="mrec_not_custom_directsold_income"
                jdbcType="DECIMAL" />
        <result property="mrecNotCustomDirectsoldEcpm" column="mrec_not_custom_directsold_ecpm" jdbcType="DECIMAL" />
        <result property="rewardUserNum" column="reward_user_num" jdbcType="INTEGER" />
        <result property="rewardShowCount" column="reward_show_count" jdbcType="INTEGER" />
        <result property="rewardIncome" column="reward_income" jdbcType="DECIMAL" />
        <result property="rewardEcpm" column="reward_ecpm" jdbcType="DECIMAL" />
        <result property="rewardExchangeUserNum" column="reward_exchange_user_num" jdbcType="INTEGER" />
        <result property="rewardExchangeShowCount" column="reward_exchange_show_count" jdbcType="INTEGER" />
        <result property="rewardExchangeIncome" column="reward_exchange_income" jdbcType="DECIMAL" />
        <result property="rewardExchangeEcpm" column="reward_exchange_ecpm" jdbcType="DECIMAL" />
        <result property="rewardNetworkUserNum" column="reward_network_user_num" jdbcType="INTEGER" />
        <result property="rewardNetworkShowCount" column="reward_network_show_count" jdbcType="INTEGER" />
        <result property="rewardNetworkIncome" column="reward_network_income" jdbcType="DECIMAL" />
        <result property="rewardNetworkEcpm" column="reward_network_ecpm" jdbcType="DECIMAL" />
        <result property="rewardCustomNetworkUserNum" column="reward_custom_network_user_num" jdbcType="INTEGER" />
        <result property="rewardCustomNetworkShowCount" column="reward_custom_network_show_count" jdbcType="INTEGER" />
        <result property="rewardCustomNetworkIncome" column="reward_custom_network_income" jdbcType="DECIMAL" />
        <result property="rewardCustomNetworkEcpm" column="reward_custom_network_ecpm" jdbcType="DECIMAL" />
        <result property="rewardFacebookNetworkUserNum" column="reward_facebook_network_user_num" jdbcType="INTEGER" />
        <result property="rewardFacebookNetworkShowCount" column="reward_facebook_network_show_count"
                jdbcType="INTEGER" />
        <result property="rewardFacebookNetworkIncome" column="reward_facebook_network_income" jdbcType="DECIMAL" />
        <result property="rewardFacebookNetworkEcpm" column="reward_facebook_network_ecpm" jdbcType="DECIMAL" />
        <result property="rewardMintegralBiddingUserNum" column="reward_mintegral_bidding_user_num"
                jdbcType="INTEGER" />
        <result property="rewardMintegralBiddingShowCount" column="reward_mintegral_bidding_show_count"
                jdbcType="INTEGER" />
        <result property="rewardMintegralBiddingIncome" column="reward_mintegral_bidding_income" jdbcType="DECIMAL" />
        <result property="rewardMintegralBiddingEcpm" column="reward_mintegral_bidding_ecpm" jdbcType="DECIMAL" />
        <result property="rewardVungleBiddingUserNum" column="reward_vungle_bidding_user_num" jdbcType="INTEGER" />
        <result property="rewardVungleBiddingShowCount" column="reward_vungle_bidding_show_count" jdbcType="INTEGER" />
        <result property="rewardVungleBiddingIncome" column="reward_vungle_bidding_income" jdbcType="DECIMAL" />
        <result property="rewardVungleBiddingEcpm" column="reward_vungle_bidding_ecpm" jdbcType="DECIMAL" />
        <result property="rewardNotCustomDirectsoldUserNum" column="reward_not_custom_directsold_user_num"
                jdbcType="INTEGER" />
        <result property="rewardNotCustomDirectsoldShowCount" column="reward_not_custom_directsold_show_count"
                jdbcType="INTEGER" />
        <result property="rewardNotCustomDirectsoldIncome" column="reward_not_custom_directsold_income"
                jdbcType="DECIMAL" />
        <result property="rewardNotCustomDirectsoldEcpm" column="reward_not_custom_directsold_ecpm"
                jdbcType="DECIMAL" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id,dates,register_dates,
        pkg,cohort_day,user_source,
        total_user_num,total_show_count,total_income,
        total_ecpm,total_not_custom_directsold_user_num,total_not_custom_directsold_show_count,
        total_not_custom_directsold_income,total_not_custom_directsold_ecpm,total_not_custom_banner_user_num,
        total_not_custom_banner_show_count,total_not_custom_banner_income,total_not_custom_banner_ecpm,
        directsold_user_num,directsold_show_count,directsold_income,
        directsold_ecpm,custom_network_user_num,custom_network_show_count,
        custom_network_income,custom_network_ecpm,custom_directsold_user_num,
        custom_directsold_show_count,custom_directsold_income,custom_directsold_ecpm,
        banner_user_num,banner_show_count,banner_income,
        banner_ecpm,banner_directsold_user_num,banner_directsold_show_count,
        banner_directsold_income,banner_directsold_ecpm,banner_exchange_user_num,
        banner_exchange_show_count,banner_exchange_income,banner_exchange_ecpm,
        banner_network_user_num,banner_network_show_count,banner_network_income,
        banner_network_ecpm,banner_custom_network_user_num,banner_custom_network_show_count,
        banner_custom_network_income,banner_custom_network_ecpm,banner_mintegral_bidding_user_num,
        banner_mintegral_bidding_show_count,banner_mintegral_bidding_income,banner_mintegral_bidding_ecpm,
        banner_not_custom_directsold_user_num,banner_not_custom_directsold_show_count,banner_not_custom_directsold_income,
        banner_not_custom_directsold_ecpm,inter_user_num,inter_show_count,
        inter_income,inter_ecpm,inter_directsold_user_num,
        inter_directsold_show_count,inter_directsold_income,inter_directsold_ecpm,
        inter_exchange_user_num,inter_exchange_show_count,inter_exchange_income,
        inter_exchange_ecpm,inter_network_user_num,inter_network_show_count,
        inter_network_income,inter_network_ecpm,inter_mintegral_bidding_user_num,
        inter_mintegral_bidding_show_count,inter_mintegral_bidding_income,inter_mintegral_bidding_ecpm,
        inter_vungle_bidding_user_num,inter_vungle_bidding_show_count,inter_vungle_bidding_income,
        inter_vungle_bidding_ecpm,inter_not_custom_directsold_user_num,inter_not_custom_directsold_show_count,
        inter_not_custom_directsold_income,inter_not_custom_directsold_ecpm,mrec_user_num,
        mrec_show_count,mrec_income,mrec_ecpm,
        mrec_directsold_user_num,mrec_directsold_show_count,mrec_directsold_income,
        mrec_directsold_ecpm,mrec_exchange_user_num,mrec_exchange_show_count,
        mrec_exchange_income,mrec_exchange_ecpm,mrec_custom_network_user_num,
        mrec_custom_network_show_count,mrec_custom_network_income,mrec_custom_network_ecpm,
        mrec_not_custom_directsold_user_num,mrec_not_custom_directsold_show_count,mrec_not_custom_directsold_income,
        mrec_not_custom_directsold_ecpm,reward_user_num,reward_show_count,
        reward_income,reward_ecpm,reward_exchange_user_num,
        reward_exchange_show_count,reward_exchange_income,reward_exchange_ecpm,
        reward_network_user_num,reward_network_show_count,reward_network_income,
        reward_network_ecpm,reward_custom_network_user_num,reward_custom_network_show_count,
        reward_custom_network_income,reward_custom_network_ecpm,reward_facebook_network_user_num,
        reward_facebook_network_show_count,reward_facebook_network_income,reward_facebook_network_ecpm,
        reward_mintegral_bidding_user_num,reward_mintegral_bidding_show_count,reward_mintegral_bidding_income,
        reward_mintegral_bidding_ecpm,reward_vungle_bidding_user_num,reward_vungle_bidding_show_count,
        reward_vungle_bidding_income,reward_vungle_bidding_ecpm,reward_not_custom_directsold_user_num,
        reward_not_custom_directsold_show_count,reward_not_custom_directsold_income,reward_not_custom_directsold_ecpm,
        create_time
    </sql>
    <select id="queryDbListByDates" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dws_daily_cohort_pkg_usrc_advertising
        where dates=#{dates}
    </select>
</mapper>
