<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllLabShareMapper">

    <select id="queryStatistics" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllLabShare">
        SELECT ddps.id,
               shares.dates,
               shares.pkg,
               shares.version,
               shares.config_group_type,
               shares.config_group_name,
               shares.invitation_num,
               shares.fill_code_num,
               shares.total_user_num,
               ddps.create_time,
               ddps.update_time
        from (SELECT dusr.dates,
                     dusr.pkg,
                     dusr.version,
                     dul.config_group_type,
                     dul.name                                                      config_group_name,
                     count(DISTINCT CASE dusr.source WHEN 1 THEN dusr.user_id END) invitation_num,
                     count(DISTINCT CASE dusr.source WHEN 2 THEN dusr.user_id END) fill_code_num,
                     COUNT(DISTINCT dusr.user_id)                                  total_user_num
              FROM dwd_user_share_record dusr
                       INNER JOIN dim_user_lab dul on (dul.user_id = dusr.user_id)
              WHERE dusr.dates = #{dates}
              GROUP BY dusr.dates, dusr.pkg, dusr.version, dul.config_group_type, dul.name) shares
                 LEFT JOIN dws_daily_package_all_lab_share ddps on
            (ddps.dates = shares.dates and ddps.pkg = shares.pkg and ddps.version = shares.version and
             ddps.config_group_type = shares.config_group_type and ddps.config_group_name = shares.config_group_name)

    </select>
</mapper>
