<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllRegisterMapper">

    <delete id="deleteByDates">
        delete
        from dws_daily_package_all_register
        where dates = #{dates}
    </delete>
    <select id="statistics" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllRegister">
        select dates, pkg, version, count(1) user_num
        from dwd_user_register
        where dates = #{dates}
        group by dates, pkg, version
    </select>
</mapper>
