<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllLabGameSingleMapper">

    <select id="queryActiveList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllLabGameSingle">
        SELECT ddpags.id,
               0 user_type,
               dugroq.dates,
               dugroq.pkg,
               dugroq.version,
               dugroq.game_id,
               dugroq.config_group_type,
               dugroq.config_group_name,
               dugroq.game_code,
               dugroq.user_num,
               dugroq.play_game_num,
               dugroq.play_game_total_time,
               dugroq.total_expend,
               dugroq.total_reward
        FROM (SELECT dugro.dates,
                     dugro.pkg,
                     dugro.version,
                     dugro.game_id,
                     dul.config_group_type,
                     dul.name                          config_group_name,
                     dugro.game_code,
                     COUNT(DISTINCT dugro.user_id)     user_num,
                     COUNT(1)                          play_game_num,
                     IFNULL(SUM(dugro.played_time), 0) play_game_total_time,
                     IFNULL(SUM(dugro.expend), 0)      total_expend,
                     IFNULL(SUM(dugro.reward), 0)      total_reward
              from dwd_user_game_record_oeta dugro
                       INNER JOIN dim_user_lab dul on (dul.user_id = dugro.user_id)
              WHERE dugro.dates = #{dates}
                and dugro.game_code = #{gameCode}
              GROUP BY dugro.dates, dugro.pkg, dugro.version, dugro.game_id, dugro.game_code,
                       dul.config_group_type, dul.name) dugroq
                 LEFT JOIN dws_daily_package_all_lab_game_single ddpags
                           on (ddpags.dates = dugroq.dates and ddpags.pkg = dugroq.pkg
                               and ddpags.version = dugroq.version and ddpags.game_code = dugroq.game_code and
                               ddpags.user_type = 0 and ddpags.config_group_type = dugroq.config_group_type
                               and ddpags.config_group_name = dugroq.config_group_name)

    </select>
    <select id="queryNewList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllLabGameSingle">
        SELECT ddpags.id,
               1 user_type,
               dugroq.dates,
               dugroq.pkg,
               dugroq.version,
               dugroq.config_group_type,
               dugroq.config_group_name,
               dugroq.game_id,
               dugroq.game_code,
               dugroq.user_num,
               dugroq.play_game_num,
               dugroq.play_game_total_time,
               dugroq.total_expend,
               dugroq.total_reward
        FROM (SELECT dugro.dates,
                     dugro.pkg,
                     dugro.version,
                     dul.config_group_type,
                     dul.name                          config_group_name,
                     dugro.game_id,
                     dugro.game_code,
                     COUNT(DISTINCT dugro.user_id)     user_num,
                     COUNT(1)                          play_game_num,
                     IFNULL(SUM(dugro.played_time), 0) play_game_total_time,
                     IFNULL(SUM(dugro.expend), 0)      total_expend,
                     IFNULL(SUM(dugro.reward), 0)      total_reward
              from dwd_user_game_record_oeta dugro
                       INNER JOIN dim_user_info dui on (dui.user_id = dugro.user_id and dui.dates = dugro.dates)
                       INNER JOIN dim_user_lab dul on (dul.user_id = dugro.user_id)
              WHERE dugro.dates = #{dates}
                and dugro.game_code = #{gameCode}
              GROUP BY dugro.dates, dugro.pkg, dugro.version, dugro.game_id, dugro.game_code, dul.config_group_type,
                       dul.name) dugroq
                 LEFT JOIN dws_daily_package_all_lab_game_single ddpags
                           on (ddpags.dates = dugroq.dates and ddpags.pkg = dugroq.pkg
                               and ddpags.version = dugroq.version and ddpags.game_code = dugroq.game_code and
                               ddpags.user_type = 1 and ddpags.config_group_type = dugroq.config_group_type
                               and ddpags.config_group_name = dugroq.config_group_name)
    </select>
    <select id="queryList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllLabGameSingle">
        SELECT id,
               dates,
               pkg,
               version,
               user_type,
               game_id,
               game_code,
               config_group_type,
               config_group_name,
               user_num,
               play_game_num,
               play_game_total_time,
               avg_user_play_game_num,
               avg_user_play_time,
               total_expend,
               avg_user_expend,
               total_reward,
               avg_user_reward,
               rtp,
               create_time
        FROM dws_daily_package_all_lab_game_single
        WHERE dates = #{dates}
    </select>
    <select id="getGameCodeList" resultType="java.lang.String">
        select DISTINCT (opgon.game_code) game_code
        from ods_pkg_game_one_net opgon
    </select>
</mapper>
