<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgUsrcShareMapper">


    <sql id="Base_Column_List">
        id,dates,user_source,
        pkg,invitation_num,fill_code_num,
        total_user_num,create_time,update_time
    </sql>
    <select id="queryDbList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgUsrcShare">
        select
        <include refid="Base_Column_List"/>
        from dws_daily_pkg_usrc_share
        where dates = #{dates}
    </select>
    <select id="queryStatisticsList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgUsrcShare">
        SELECT ddps.id,
               shares.dates,
               shares.pkg,
               shares.user_source,
               shares.invitation_num,
               shares.fill_code_num,
               shares.total_user_num,
               ddps.create_time,
               ddps.update_time
        from (SELECT dusr.dates,
                     dusr.pkg,
                     IFNULL(dus.network, 'Organic')                      user_source,
                     count(CASE dusr.source WHEN 1 THEN dusr.source END) invitation_num,
                     count(CASE dusr.source WHEN 0 THEN dusr.source END) fill_code_num,
                     COUNT(1)                                            total_user_num
              FROM dwd_user_share_record dusr
                       left join dim_user_source dus on (dusr.user_id = dus.user_id)
              WHERE dusr.dates = #{dates}
              GROUP BY dusr.dates, dusr.pkg, IFNULL(dus.network, 'Organic')) shares
                 LEFT JOIN dws_daily_pkg_usrc_share ddps on
            (ddps.dates = shares.dates and ddps.pkg = shares.pkg and
             ddps.user_source = shares.user_source)
    </select>
</mapper>
