<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgVerUsrcAdMapper">

    <select id="queryDbList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcAd">
        SELECT id,
               dates,
               version,
               user_source,
               pkg,
               all_user_total_user_num,
               all_user_total_income,
               all_user_total_show_num,
               all_user_ecpm,
               all_user_no_sold_user_num,
               all_user_no_sold_income,
               all_user_no_sold_show_num,
               all_user_no_sold_ecpm,
               all_user_sold_user_num,
               all_user_sold_income,
               all_user_sold_show_num,
               all_user_sold_ecpm,
               all_user_no_banner_user_num,
               all_user_no_banner_income,
               all_user_no_banner_show_num,
               all_user_no_banner_ecpm,
               all_user_reward_user_num,
               all_user_reward_income,
               all_user_reward_show_num,
               all_user_reward_ecpm,
               all_user_inter_user_num,
               all_user_inter_income,
               all_user_inter_show_num,
               all_user_inter_ecpm,
               all_user_mrec_user_num,
               all_user_mrec_income,
               all_user_mrec_show_num,
               all_user_mrec_ecpm,
               new_user_total_user_num,
               new_user_total_income,
               new_user_total_show_num,
               new_user_ecpm,
               new_user_no_sold_user_num,
               new_user_no_sold_income,
               new_user_no_sold_show_num,
               new_user_no_sold_ecpm,
               new_user_sold_user_num,
               new_user_sold_income,
               new_user_sold_show_num,
               new_user_sold_ecpm,
               new_user_no_banner_user_num,
               new_user_no_banner_income,
               new_user_no_banner_show_num,
               new_user_no_banner_ecpm,
               new_user_reward_user_num,
               new_user_reward_income,
               new_user_reward_show_num,
               new_user_reward_ecpm,
               new_user_inter_user_num,
               new_user_inter_income,
               new_user_inter_show_num,
               new_user_inter_ecpm,
               new_user_mrec_user_num,
               new_user_mrec_income,
               new_user_mrec_show_num,
               new_user_mrec_ecpm,
               create_time
        FROM dws_daily_pkg_ver_usrc_ad
        WHERE dates = #{dates}
    </select>
    <select id="queryStatisticsActive" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcAd">
        SELECT duar.dates,
               duar.pkg,
               duar.version,
               IFNULL(dus.network, 'Organic') user_source,
               count(DISTINCT duar.user_id)   all_user_total_user_num,
               sum(duar.revenue)              all_user_total_income,
               sum(duar.ad_exhibit)           all_user_total_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.user_id END)),
                      0)                      all_user_no_sold_user_num,
               IFNULL(SUM(CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.revenue END),
                      0)                      all_user_no_sold_income,
               IFNULL(SUM(CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.ad_exhibit END), 0)
                                              all_user_no_sold_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.user_id END)), 0)
                                              all_user_sold_user_num,
               IFNULL(SUM(CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.revenue END), 0)
                                              all_user_sold_income,
               IFNULL(SUM(CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.ad_exhibit END), 0)
                                              all_user_sold_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.ad_format != 'banner' THEN duar.user_id END)), 0)
                                              all_user_no_banner_user_num,
               IFNULL(SUM(CASE WHEN duar.ad_format != 'banner' THEN duar.revenue END), 0)
                                              all_user_no_banner_income,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format != 'banner' THEN duar.ad_exhibit END), 0)
                                              all_user_no_banner_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.ad_format = 'reward' THEN duar.user_id END)), 0)
                                              all_user_reward_user_num,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'reward' THEN duar.revenue END), 0)
                                              all_user_reward_income,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'reward' THEN duar.ad_exhibit END), 0)
                                              all_user_reward_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.ad_format = 'inter' THEN duar.user_id END)), 0)
                                              all_user_inter_user_num,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'inter' THEN duar.revenue END), 0)
                                              all_user_inter_income,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'inter' THEN duar.ad_exhibit END), 0)
                                              all_user_inter_show_num,
               IFNULL(
                       count(
                               DISTINCT
                               (CASE WHEN duar.ad_format = 'mrec' THEN duar.user_id END)), 0)
                                              all_user_mrec_user_num,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'mrec' THEN duar.revenue END), 0)
                                              all_user_mrec_income,
               IFNULL(
                       SUM(CASE WHEN duar.ad_format = 'mrec' THEN duar.ad_exhibit END), 0)
                                              all_user_mrec_show_num
        from dwd_user_ad_record duar
                 left join dim_user_source dus on (dus.user_id = duar.user_id)
        WHERE duar.dates = #{dates}
        GROUP BY duar.dates,
                 duar.pkg,
                 duar.version,
                 IFNULL(dus.network, 'Organic')
    </select>
    <select id="queryStatisticsNew" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcAd">
        SELECT duar.dates,
               duar.pkg,
               duar.version,
               IFNULL(dus.network, 'Organic')                                               user_source,
               count(DISTINCT duar.user_id)                                                 new_user_total_user_num,
               sum(duar.revenue)                                                            new_user_total_income,
               sum(duar.ad_exhibit)                                                         new_user_total_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.user_id END)),
                      0)                                                                    new_user_no_sold_user_num,
               IFNULL(SUM(CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.revenue END),
                      0)                                                                    new_user_no_sold_income,
               IFNULL(SUM(CASE WHEN duar.network != 'APPLOVIN_DIRECTSOLD' THEN duar.ad_exhibit END),
                      0)                                                                    new_user_no_sold_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.user_id END)), 0)
                                                                                            new_user_sold_user_num,
               IFNULL(SUM(CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.revenue END), 0)
                                                                                            new_user_sold_income,
               IFNULL(SUM(CASE WHEN duar.network = 'APPLOVIN_DIRECTSOLD' THEN duar.ad_exhibit END), 0)
                                                                                            new_user_sold_show_num,
               IFNULL(count(DISTINCT
                            (CASE WHEN duar.ad_format != 'banner' THEN duar.user_id END)),
                      0)                                                                    new_user_no_banner_user_num,
               IFNULL(SUM(CASE WHEN duar.ad_format != 'banner' THEN duar.revenue END), 0)   new_user_no_banner_income,
               IFNULL(SUM(CASE WHEN duar.ad_format != 'banner' THEN duar.ad_exhibit END),
                      0)                                                                    new_user_no_banner_show_num,
               IFNULL(count(DISTINCT (CASE WHEN duar.ad_format = 'reward' THEN duar.user_id END)),
                      0)                                                                    new_user_reward_user_num,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'reward' THEN duar.revenue END), 0)    new_user_reward_income,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'reward' THEN duar.ad_exhibit END), 0) new_user_reward_show_num,
               IFNULL(count(DISTINCT (CASE WHEN duar.ad_format = 'inter' THEN duar.user_id END)),
                      0)                                                                    new_user_inter_user_num,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'inter' THEN duar.revenue END), 0)     new_user_inter_income,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'inter' THEN duar.ad_exhibit END), 0)  new_user_inter_show_num,
               IFNULL(count(DISTINCT (CASE WHEN duar.ad_format = 'mrec' THEN duar.user_id END)),
                      0)                                                                    new_user_mrec_user_num,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'mrec' THEN duar.revenue END), 0)      new_user_mrec_income,
               IFNULL(SUM(CASE WHEN duar.ad_format = 'mrec' THEN duar.ad_exhibit END), 0)   new_user_mrec_show_num
        from dwd_user_ad_record duar
                 INNER JOIN dim_user_info dui
                            on (duar.user_id = dui.user_id and duar.dates = dui.dates)
                 left join dim_user_source dus on (dus.user_id = duar.user_id)
        WHERE duar.dates = #{dates}
        GROUP BY duar.dates, duar.pkg, duar.version, IFNULL(dus.network, 'Organic')
    </select>
</mapper>
