<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgVerUsrcPromotionMapper">


    <sql id="Base_Column_List">
        id,dates,pkg,
        version,user_source,pkg_user_num,
        cost,change_cost,user_num,
        user_rate,pkg_cost,pkg_change_cost,
        cpi,create_time
    </sql>
    <select id="queryDbList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcPromotion">
        select
        <include refid="Base_Column_List"/>
        from dws_daily_pkg_ver_usrc_promotion
        where dates = #{dates}
    </select>
    <select id="queryStatisticsList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcPromotion">
        SELECT ddpvup.id,
               t.dates,
               t.pkg,
               t.user_source,
               t.version,
               t.user_num,
               t.pkg_user_num,
               t.user_rate,
               t.pkg_cost,
               t.pkg_change_cost,
               t.cost,
               t.change_cost,
               t.cpi
        FROM (SELECT ddpr.dates,
                     ddpr.pkg,
                     ddpr.network                                                                              user_source,
                     ddpvur.version,
                     ddpvur.user_num,
                     durpfd.user_num                                                                           pkg_user_num,
                     IFNULL((ddpvur.user_num / durpfd.user_num), 0)                                            user_rate,
                     IFNULL(ddpr.total_cost, 0)                                                                pkg_cost,
                     IFNULL(ddpr.total_change_cost, 0)                                                         pkg_change_cost,
                     IFNULL((ddpvur.user_num / durpfd.user_num) * ddpr.total_cost, 0)                          cost,
                     IFNULL((ddpvur.user_num / durpfd.user_num) * ddpr.total_change_cost,
                            0)                                                                                 change_cost,
                     IFNULL((ddpvur.user_num / durpfd.user_num) * ddpr.total_change_cost / ddpvur.user_num, 0) cpi
              FROM (SELECT dpr.dates,
                           dpr.pkg,
                           dpr.network,
                           sum(dpr.cost)        total_cost,
                           sum(dpr.change_cost) total_change_cost
                    FROM dwd_promotion_record dpr
                    WHERE dpr.dates = #{dates}
                    group by dpr.dates, dpr.pkg, dpr.network) ddpr
                       LEFT JOIN dws_daily_pkg_ver_usrc_register ddpvur on
                  (ddpvur.dates = ddpr.dates and ddpvur.pkg = ddpr.pkg and ddpvur.user_source = ddpr.network)
                       LEFT JOIN dws_user_register_pkg_full_daily durpfd on
                  (ddpr.dates = durpfd.dates and ddpr.pkg = durpfd.pkg)) t
                 left join dws_daily_pkg_ver_usrc_promotion ddpvup on
            (t.dates = ddpvup.dates and t.pkg = ddpvup.pkg and t.version = ddpvup.version and
             t.user_source = ddpvup.user_source)
    </select>
</mapper>
