<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllGameMapper">
    <delete id="deleteByDates">
        delete
        from dws_daily_package_all_game
        where dates = #{dates}
    </delete>
    <select id="queryStatisticsAll" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllGame">
        SELECT
            0 as userType,
            o.dates,
            o.pkg,
            o.version,
            COUNT(DISTINCT CASE WHEN o.game_id = 1 THEN o.user_id END) AS intro_user_count,
            SUM(CASE WHEN o.game_id = 1 THEN 1 ELSE 0 END) AS intro_game_count,
            SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END) AS intro_game_time,
            SUM(CASE WHEN o.game_id = 1 THEN o.reward ELSE 0 END) AS intro_game_reward,
            SUM(CASE WHEN o.game_id = 1 THEN o.expend ELSE 0 END) AS intro_game_consume,
            AVG(CASE WHEN o.game_id = 1 THEN o.reward ELSE NULL END) AS intro_avg_reward,
            AVG(CASE WHEN o.game_id = 1 THEN o.expend ELSE NULL END) AS intro_avg_consume,
            SUM(CASE WHEN o.game_id = 1 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 1 THEN o.user_id END) AS intro_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 1 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END)
                END AS intro_rtp,
            COUNT(DISTINCT CASE WHEN o.game_id = 2 THEN o.user_id END) AS turn_user_count,
            SUM(CASE WHEN o.game_id = 2 THEN 1 ELSE 0 END) AS turn_game_count,
            SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END) AS turn_game_time,
            SUM(CASE WHEN o.game_id = 2 THEN o.reward ELSE 0 END) AS turn_game_reward,
            SUM(CASE WHEN o.game_id = 2 THEN o.expend ELSE 0 END) AS turn_game_consume,
            AVG(CASE WHEN o.game_id = 2 THEN o.reward ELSE NULL END) AS turn_avg_reward,
            AVG(CASE WHEN o.game_id = 2 THEN o.expend ELSE NULL END) AS turn_avg_consume,
            SUM(CASE WHEN o.game_id = 2 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 2 THEN o.user_id END) AS turn_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 2 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END)
                END AS turn_rtp,
            COUNT(DISTINCT CASE WHEN o.game_id = 3 THEN o.user_id END) AS mini_user_count,
            SUM(CASE WHEN o.game_id = 3 THEN 1 ELSE 0 END) AS mini_game_count,
            SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END) AS mini_game_time,
            SUM(CASE WHEN o.game_id = 3 THEN o.reward ELSE 0 END) AS mini_game_reward,
            SUM(CASE WHEN o.game_id = 3 THEN o.expend ELSE 0 END) AS mini_game_consume,
            AVG(CASE WHEN o.game_id = 3 THEN o.reward ELSE NULL END) AS mini_avg_reward,
            AVG(CASE WHEN o.game_id = 3 THEN o.expend ELSE NULL END) AS mini_avg_consume,
            SUM(CASE WHEN o.game_id = 3 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 3 THEN o.user_id END) AS mini_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 3 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END)
                END AS mini_rtp,
            CURRENT_TIMESTAMP AS createTime
        FROM dwd_user_game_record_oeta o
        WHERE o.dates = #{dates}
        GROUP BY o.dates, o.pkg, o.version
        ORDER BY o.dates, o.pkg, o.version;
    </select>


    <select id="queryStatisticsNew" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllGame">
        SELECT
            1 as userType,
            o.dates,
            o.pkg,
            o.version,
            COUNT(DISTINCT CASE WHEN o.game_id = 1 THEN o.user_id END) AS intro_user_count,
            SUM(CASE WHEN o.game_id = 1 THEN 1 ELSE 0 END) AS intro_game_count,
            SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END) AS intro_game_time,
            SUM(CASE WHEN o.game_id = 1 THEN o.reward ELSE 0 END) AS intro_game_reward,
            SUM(CASE WHEN o.game_id = 1 THEN o.expend ELSE 0 END) AS intro_game_consume,
            AVG(CASE WHEN o.game_id = 1 THEN o.reward ELSE NULL END) AS intro_avg_reward,
            AVG(CASE WHEN o.game_id = 1 THEN o.expend ELSE NULL END) AS intro_avg_consume,
            SUM(CASE WHEN o.game_id = 1 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 1 THEN o.user_id END) AS intro_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 1 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 1 THEN o.played_time ELSE 0 END)
                END AS intro_rtp,
            COUNT(DISTINCT CASE WHEN o.game_id = 2 THEN o.user_id END) AS turn_user_count,
            SUM(CASE WHEN o.game_id = 2 THEN 1 ELSE 0 END) AS turn_game_count,
            SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END) AS turn_game_time,
            SUM(CASE WHEN o.game_id = 2 THEN o.reward ELSE 0 END) AS turn_game_reward,
            SUM(CASE WHEN o.game_id = 2 THEN o.expend ELSE 0 END) AS turn_game_consume,
            AVG(CASE WHEN o.game_id = 2 THEN o.reward ELSE NULL END) AS turn_avg_reward,
            AVG(CASE WHEN o.game_id = 2 THEN o.expend ELSE NULL END) AS turn_avg_consume,
            SUM(CASE WHEN o.game_id = 2 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 2 THEN o.user_id END) AS turn_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 2 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 2 THEN o.played_time ELSE 0 END)
                END AS turn_rtp,
            COUNT(DISTINCT CASE WHEN o.game_id = 3 THEN o.user_id END) AS mini_user_count,
            SUM(CASE WHEN o.game_id = 3 THEN 1 ELSE 0 END) AS mini_game_count,
            SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END) AS mini_game_time,
            SUM(CASE WHEN o.game_id = 3 THEN o.reward ELSE 0 END) AS mini_game_reward,
            SUM(CASE WHEN o.game_id = 3 THEN o.expend ELSE 0 END) AS mini_game_consume,
            AVG(CASE WHEN o.game_id = 3 THEN o.reward ELSE NULL END) AS mini_avg_reward,
            AVG(CASE WHEN o.game_id = 3 THEN o.expend ELSE NULL END) AS mini_avg_consume,
            SUM(CASE WHEN o.game_id = 3 THEN 1 ELSE 0 END) / COUNT(DISTINCT CASE WHEN o.game_id = 3 THEN o.user_id END) AS mini_avg_game_count,
            CASE
                WHEN SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END) = 0 THEN 0
                ELSE SUM(CASE WHEN o.game_id = 3 THEN o.reward ELSE 0 END) / SUM(CASE WHEN o.game_id = 3 THEN o.played_time ELSE 0 END)
                END AS mini_rtp,
            CURRENT_TIMESTAMP AS createTime
        FROM dwd_user_game_record_oeta o
        WHERE o.dates = #{dates}
        GROUP BY o.dates, o.pkg, o.version
        ORDER BY o.dates, o.pkg, o.version;
    </select>

</mapper>
