<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgAdConversionEventMapper">


    <sql id="Base_Column_List">
        id,dates,user_type,
        pkg,click_user_num,click_record_num,
        show_user_num,show_record_num,create_time
    </sql>
    <delete id="deleteByDate">
        delete
        from dws_daily_pkg_ad_conversion_event
        where dates = #{dates}
    </delete>
</mapper>
