<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPkgVerUsrcRetentionMapper">


    <sql id="Base_Column_List">
        id,dates,pkg,
        version,user_source,register_dates,
        register_day,retention_user_num
    </sql>
    <select id="queryDbList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcRetention">
        select
        <include refid="Base_Column_List"/>
        from dws_daily_pkg_ver_usrc_retention
        where dates= #{dates}
    </select>
    <select id="queryStatisticsList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPkgVerUsrcRetention">
        SELECT ddovyo.id,
               t.dates,
               t.pkg,
               t.version,
               t.user_source,
               t.register_dates,
               t.register_day,
               t.retention_user_num
        FROM (select lr.dates,
                     lr.pkg,
                     lr.register_version                             version,
                     IFNULL(dus.network, 'Organic')                  user_source,
                     lr.register_dates,
                     TIMESTAMPDIFF(DAY, lr.register_dates, lr.dates) register_day,
                     count(DISTINCT lr.user_id)                      retention_user_num
              from dwd_user_login_record lr
                       left join dim_user_source dus on (lr.user_id = dus.user_id)
              where dates = #{dates}
              group by lr.dates, lr.pkg, lr.register_version, IFNULL(dus.network, 'Organic'), lr.register_dates) t
                 left join dws_daily_pkg_ver_usrc_retention ddovyo
                           on (t.dates = ddovyo.dates and t.pkg = ddovyo.pkg and t.version = ddovyo.version and
                               t.user_source = ddovyo.user_source and t.register_dates = ddovyo.register_dates)

    </select>
</mapper>
