<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsDailyPackageAllAdEventMapper">
    <delete id="deleteByDates">
        delete
        from dws_daily_package_all_ad_event
        where dates = #{dates}
    </delete>
    <!--    <select id="queryList" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllAdEvent">-->
    <!--        select id,-->
    <!--               dates,-->
    <!--               pkg,-->
    <!--               version,-->
    <!--               user_type,-->
    <!--               click_user_num,-->
    <!--               click_record_num,-->
    <!--               show_user_num,-->
    <!--               show_record_num,-->
    <!--               create_time-->
    <!--        from dws_daily_package_all_ad_event-->
    <!--        where dates = #{dates}-->
    <!--    </select>-->
    <!--    <select id="queryStatisticsActive" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllAdEvent">-->
    <!--        SELECT ddpaae.id,-->
    <!--               duedq.dates,-->
    <!--               duedq.pkg,-->
    <!--               duedq.version,-->
    <!--               duedq.user_type,-->
    <!--               duedq.click_user_num,-->
    <!--               duedq.click_record_num,-->
    <!--               duedq.show_user_num,-->
    <!--               duedq.show_record_num-->
    <!--        FROM (SELECT dued.dates,-->
    <!--                     dued.pkg,-->
    <!--                     dued.version,-->
    <!--                     0                                                                        user_type,-->
    <!--                     COUNT(DISTINCT case dued.event_id when 'ds_click' then dued.user_id end) click_user_num,-->
    <!--                     COUNT(case dued.event_id when 'ds_click' then dued.user_id end)          click_record_num,-->
    <!--                     COUNT(DISTINCT case dued.event_id when 'ds_show' then dued.user_id end)  show_user_num,-->
    <!--                     COUNT(case dued.event_id when 'ds_show' then dued.user_id end)           show_record_num-->
    <!--              FROM dwd_user_event_detail dued-->
    <!--                       inner join dim_user_info dui on (dui.user_id = dued.user_id)-->
    <!--              where dued.dates = #{dates}-->
    <!--                and dued.event_id in ('ds_click', 'ds_show')-->
    <!--              GROUP by dued.dates, dued.pkg, dued.version) duedq-->
    <!--                 LEFT JOIN dws_daily_package_all_ad_event ddpaae-->
    <!--                           on (ddpaae.dates = duedq.dates and ddpaae.version = duedq.version-->
    <!--                               and ddpaae.user_type = 0)-->
    <!--    </select>-->
    <!--    <select id="queryStatisticsNew" resultType="com.leo.ad.codriver.dws.entity.DwsDailyPackageAllAdEvent">-->
    <!--        SELECT ddpaae.id,-->
    <!--               duedq.dates,-->
    <!--               duedq.pkg,-->
    <!--               duedq.version,-->
    <!--               duedq.user_type,-->
    <!--               duedq.click_user_num,-->
    <!--               duedq.click_record_num,-->
    <!--               duedq.show_user_num,-->
    <!--               duedq.show_record_num-->
    <!--        FROM (SELECT dued.dates,-->
    <!--                     dued.pkg,-->
    <!--                     dued.version,-->
    <!--                     1                                                                        user_type,-->
    <!--                     COUNT(DISTINCT case dued.event_id when 'ds_click' then dued.user_id end) click_user_num,-->
    <!--                     COUNT(case dued.event_id when 'ds_click' then dued.user_id end)          click_record_num,-->
    <!--                     COUNT(DISTINCT case dued.event_id when 'ds_show' then dued.user_id end)  show_user_num,-->
    <!--                     COUNT(case dued.event_id when 'ds_show' then dued.user_id end)           show_record_num-->
    <!--              FROM dwd_user_event_detail dued-->
    <!--                       inner join dim_user_info dui on (dui.user_id = dued.user_id and dui.dates = dued.dates)-->
    <!--              where dued.dates = #{dates}-->
    <!--                and dued.event_id in ('ds_click', 'ds_show')-->
    <!--              GROUP by dued.dates, dued.pkg, dued.version) duedq-->
    <!--                 LEFT JOIN dws_daily_package_all_ad_event ddpaae-->
    <!--                           on (ddpaae.dates = duedq.dates and ddpaae.version = duedq.version-->
    <!--                               and ddpaae.user_type = 1)-->
    <!--    </select>-->
</mapper>
