<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsHemaEventFullDailyMapper">

    <delete id="delete">
        delete
        from dws_hema_event_full_daily
        where dates = #{dates}
    </delete>
    <select id="queryStatisticsActiveList" resultType="com.leo.ad.codriver.dws.entity.DwsHemaEventFullDaily">
        select dwd_ud.dates,
               dwd_ud.pkg,
               dwd_ud.country,
               dwd_ud.version,
               0                                                                                   user_type,
               sum(IF(dwd_ud.event_id = 'game_finish', IFNULL(dwd_ud.event_msg ->> '$.HM_time', 0),
                      0))                                                                          game_finish_total_time,
               count(case dwd_ud.event_id when 'game_finish' then 'game_finish' end)               game_finish_num,
               count(DISTINCT (case dwd_ud.event_id when 'game_finish' then dwd_ud.user_id end))   game_finish_user_num,

               sum(IF(dwd_ud.event_id = 'promotion_coin_get', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          promotion_total_coin,
               count(case dwd_ud.event_id when 'promotion_coin_get' then 'promotion_coin_get' end) promotion_coin_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'promotion_coin_get' then dwd_ud.user_id end))     promotion_coin_user_num,

               sum(IF(dwd_ud.event_id = 'promotion_life_gain', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          promotion_total_life_gain,
               count(case dwd_ud.event_id
                         when 'promotion_life_gain'
                             then 'promotion_life_gain' end)                                       promotion_life_gain_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'promotion_life_gain' then dwd_ud.user_id end))    promotion_life_gain_user_num,

               sum(IF(dwd_ud.event_id = 'Game_SlotsSpin', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          game_slots_total_bet,
               count(case dwd_ud.event_id when 'Game_SlotsSpin' then 'Game_SlotsSpin' end)         game_slots_bet_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Game_SlotsSpin' then dwd_ud.user_id end))         game_slots_bet_user_num,

               count(case dwd_ud.event_id when 'match_page_show' then 'match_page_show' end)       match_page_show_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'match_page_show' then dwd_ud.user_id end))        match_page_show_user_num,

               count(case dwd_ud.event_id when 'game_start' then 'game_start' end)                 game_start_num,
               count(DISTINCT (case dwd_ud.event_id when 'game_start' then dwd_ud.user_id end))    game_start_user_num,

               count(case dwd_ud.event_id when 'Game_Enter_Only' then 'Game_Enter_Only' end)       game_enter_only_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Game_Enter_Only' then dwd_ud.user_id end))        game_enter_only_user_num,

               count(case dwd_ud.event_id when 'showOfferPage' then 'showOfferPage' end)           show_offer_page_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'showOfferPage' then dwd_ud.user_id end))          show_offer_page_user_num,

               count(case dwd_ud.event_id when 'clickTask' then 'clickTask' end)                   click_task_num,
               count(DISTINCT (case dwd_ud.event_id when 'clickTask' then dwd_ud.user_id end))     click_task_user_num,

               count(case dwd_ud.event_id
                         when 'invite_download_enter_44' then '1'
                         when 'web_show'
                             then '1' end)                                                         download_pag_show_num,
               count(DISTINCT (case dwd_ud.event_id
                                   when 'invite_download_enter_44' then dwd_ud.user_id
                                   when 'web_show'
                                       then dwd_ud.user_id end))                                   download_pag_show_user_num,

               count(case dwd_ud.event_id
                         when 'invite_download_click_install_48' then '1'
                         when 'web_downloadclick'
                             then '1' end)                                                         download_pag_click_num,
               count(DISTINCT (case dwd_ud.event_id
                                   when 'invite_download_click_install_48' then dwd_ud.user_id
                                   when 'web_downloadclick'
                                       then dwd_ud.user_id end))                                   download_pag_click_user_num,

               count(case dwd_ud.event_id when 'web_loading' then 'web_loading' end)               web_loading_num,
               count(DISTINCT (case dwd_ud.event_id when 'web_loading' then dwd_ud.user_id end))   web_loading_user_num,
               count(case dwd_ud.event_id when 'showWithdrawPage' then 'showWithdrawPage' end)     show_withdraw_page_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'showWithdrawPage' then dwd_ud.user_id end))       show_withdraw_page_user_num,
               count(case dwd_ud.event_id
                         when 'Gold_Game_Enter_Only'
                             then 'Gold_Game_Enter_Only' end)                                      gold_game_enter_only_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Gold_Game_Enter_Only' then dwd_ud.user_id end))   gold_game_enter_only_user_num,
               sum(IF(dwd_ud.event_id = 'Gold_Game_SlotsSpin', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          gold_game_slots_spin_total_bet,
               count(case dwd_ud.event_id
                         when 'Gold_Game_SlotsSpin'
                             then 'Gold_Game_SlotsSpin' end)                                       gold_game_slots_spin_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Gold_Game_SlotsSpin' then dwd_ud.user_id end))    gold_game_slots_spin_user_num

        from dwd_user_event_detail dwd_ud
                 inner join (select pkg from dim_channel where product_id = 44) sc on (sc.pkg = dwd_ud.pkg)
        where dwd_ud.dates = #{dates}
          and dwd_ud.event_id in ('game_finish',
                                  'promotion_coin_get',
                                  'promotion_life_gain',
                                  'Game_SlotsSpin',
                                  'match_page_show',
                                  'game_start',
                                  'Game_Enter_Only',
                                  'showOfferPage',
                                  'clickTask',
                                  'invite_download_enter_44',
                                  'web_show',
                                  'invite_download_click_install_48',
                                  'web_downloadclick',
                                  'web_loading',
                                  'showWithdrawPage',
                                  'Gold_Game_Enter_Only',
                                  'Gold_Game_SlotsSpin'
            )
        group by dates, pkg, country, version
    </select>
    <select id="queryStatisticsNewList" resultType="com.leo.ad.codriver.dws.entity.DwsHemaEventFullDaily">
        select dwd_ud.dates,
               dwd_ud.pkg,
               dwd_ud.country,
               dwd_ud.version,
               1                                                                                   user_type,
               sum(IF(dwd_ud.event_id = 'game_finish', IFNULL(dwd_ud.event_msg ->> '$.HM_time', 0),
                      0))                                                                          game_finish_total_time,
               count(case dwd_ud.event_id when 'game_finish' then 'game_finish' end)               game_finish_num,
               count(DISTINCT (case dwd_ud.event_id when 'game_finish' then dwd_ud.user_id end))   game_finish_user_num,

               sum(IF(dwd_ud.event_id = 'promotion_coin_get', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          promotion_total_coin,
               count(case dwd_ud.event_id when 'promotion_coin_get' then 'promotion_coin_get' end) promotion_coin_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'promotion_coin_get' then dwd_ud.user_id end))     promotion_coin_user_num,

               sum(IF(dwd_ud.event_id = 'promotion_life_gain', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          promotion_total_life_gain,
               count(case dwd_ud.event_id
                         when 'promotion_life_gain'
                             then 'promotion_life_gain' end)                                       promotion_life_gain_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'promotion_life_gain' then dwd_ud.user_id end))    promotion_life_gain_user_num,

               sum(IF(dwd_ud.event_id = 'Game_SlotsSpin', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          game_slots_total_bet,
               count(case dwd_ud.event_id when 'Game_SlotsSpin' then 'Game_SlotsSpin' end)         game_slots_bet_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Game_SlotsSpin' then dwd_ud.user_id end))         game_slots_bet_user_num,

               count(case dwd_ud.event_id when 'match_page_show' then 'match_page_show' end)       match_page_show_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'match_page_show' then dwd_ud.user_id end))        match_page_show_user_num,

               count(case dwd_ud.event_id when 'game_start' then 'game_start' end)                 game_start_num,
               count(DISTINCT (case dwd_ud.event_id when 'game_start' then dwd_ud.user_id end))    game_start_user_num,

               count(case dwd_ud.event_id when 'Game_Enter_Only' then 'Game_Enter_Only' end)       game_enter_only_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Game_Enter_Only' then dwd_ud.user_id end))        game_enter_only_user_num,

               count(case dwd_ud.event_id when 'showOfferPage' then 'showOfferPage' end)           show_offer_page_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'showOfferPage' then dwd_ud.user_id end))          show_offer_page_user_num,

               count(case dwd_ud.event_id when 'clickTask' then 'clickTask' end)                   click_task_num,
               count(DISTINCT (case dwd_ud.event_id when 'clickTask' then dwd_ud.user_id end))     click_task_user_num,

               count(case dwd_ud.event_id
                         when 'invite_download_enter_44' then '1'
                         when 'web_show'
                             then '1' end)                                                         download_pag_show_num,
               count(DISTINCT (case dwd_ud.event_id
                                   when 'invite_download_enter_44' then dwd_ud.user_id
                                   when 'web_show'
                                       then dwd_ud.user_id end))                                   download_pag_show_user_num,

               count(case dwd_ud.event_id
                         when 'invite_download_click_install_48' then '1'
                         when 'web_downloadclick'
                             then '1' end)                                                         download_pag_click_num,
               count(DISTINCT (case dwd_ud.event_id
                                   when 'invite_download_click_install_48' then dwd_ud.user_id
                                   when 'web_downloadclick'
                                       then dwd_ud.user_id end))                                   download_pag_click_user_num,

               count(case dwd_ud.event_id when 'web_loading' then 'web_loading' end)               web_loading_num,
               count(DISTINCT (case dwd_ud.event_id when 'web_loading' then dwd_ud.user_id end))   web_loading_user_num,
               count(case dwd_ud.event_id when 'showWithdrawPage' then 'showWithdrawPage' end)     show_withdraw_page_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'showWithdrawPage' then dwd_ud.user_id end))       show_withdraw_page_user_num,
               count(case dwd_ud.event_id
                         when 'Gold_Game_Enter_Only'
                             then 'Gold_Game_Enter_Only' end)                                      gold_game_enter_only_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Gold_Game_Enter_Only' then dwd_ud.user_id end))   gold_game_enter_only_user_num,
               sum(IF(dwd_ud.event_id = 'Gold_Game_SlotsSpin', IFNULL(dwd_ud.event_msg ->> '$.HM_num', 0),
                      0))                                                                          gold_game_slots_spin_total_bet,
               count(case dwd_ud.event_id
                         when 'Gold_Game_SlotsSpin'
                             then 'Gold_Game_SlotsSpin' end)                                       gold_game_slots_spin_num,
               count(DISTINCT
                     (case dwd_ud.event_id when 'Gold_Game_SlotsSpin' then dwd_ud.user_id end))    gold_game_slots_spin_user_num

        from dwd_user_event_detail dwd_ud
                 inner join (select pkg from dim_channel where product_id = 44) sc on (sc.pkg = dwd_ud.pkg)
        where dwd_ud.dates = #{dates}
          and dwd_ud.event_id in ('game_finish',
                                  'promotion_coin_get',
                                  'promotion_life_gain',
                                  'Game_SlotsSpin',
                                  'match_page_show',
                                  'game_start',
                                  'Game_Enter_Only',
                                  'showOfferPage',
                                  'clickTask',
                                  'invite_download_enter_44',
                                  'web_show',
                                  'invite_download_click_install_48',
                                  'web_downloadclick',
                                  'web_loading',
                                  'showWithdrawPage',
                                  'Gold_Game_Enter_Only',
                                  'Gold_Game_SlotsSpin'
            )
          and dwd_ud.register_day = 0
        group by dates, pkg, country, version
    </select>
</mapper>
