<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dws.dao.DwsUserRegisterPkgFullDailyMapper">

    <delete id="deleteByDates">
        delete
        from dws_user_register_pkg_full_daily
        where dates = #{dates}
    </delete>
    <select id="statistics" resultType="com.leo.ad.codriver.dws.entity.DwsUserRegisterPkgFullDaily">
        select dates, pkg, count(1) user_num
        from dwd_user_register
        where dates = #{dates}
        group by dates, pkg
    </select>
</mapper>
