<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.ods.dao.OdsUserVersionMapper">
    <update id="updateCreateTime">
        update ods_user_version
        set create_time = DATE_SUB(create_time, INTERVAL 1 second)
        where dates = #{dates}
    </update>
</mapper>
