<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdPromotionRecordMapper">
    <delete id="deleteByDate">
        delete
        from dwd_promotion_record
        where dates = #{dates}
    </delete>
    <select id="queryByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdPromotionRecord">
        select ac.dates,
               ac.pkg,
               ac.network,
               ac.series,
               ac.ad_group,
               ac.material,
               ac.cost,
               ROUND(ac.cost / #{singleFee}, 8) change_cost
        from ods_adjust_cost ac
        where ac.dates = #{dates}
    </select>
</mapper>
