<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserGameRecordOetaMapper">
    <delete id="deleteBySourceId">
        delete
        from dwd_user_game_record_oeta
        where source_id = #{sourceId}
    </delete>
    <select id="getStatistics" resultType="com.leo.ad.codriver.dwd.entity.DwdUserGameRecordOeta">
        SELECT dugro.id,
               ogron.id         source_id,
               ogron.dates,
               ogron.game_code,
               ogron.pkg_id,
               ogron.game_id,
               dui.user_id,
               dui.last_version `version`,
               dui.pkg,
               dui.country,
               ogron.s_id,
               ogron.played_time,
               ogron.start_time,
               ogron.end_time,
               ogron.game_result,
               ogron.reward_source,
               ogron.reward_account_type,
               ogron.reward,
               ogron.expend,
               ogron.expend_account_type,
               ogron.create_time,
               ogron.end_time
        FROM ods_game_record_one_net ogron
                 INNER JOIN dim_user_info dui on (dui.user_id = ogron.user_id)
                 LEFT JOIN dwd_user_game_record_oeta dugro on (dugro.source_id = ogron.id)
        where ogron.id = #{sourceId}
    </select>
    <select id="getDbCount" resultType="com.leo.ad.codriver.dwd.entity.DwCountDTO">
        SELECT count(1), min(duar.source_id) min_id, max(duar.source_id) max_id
        FROM dwd_user_game_record_oeta duar
        WHERE duar.dates = #{dates}
    </select>

    <select id="getStatisticsCount" resultType="com.leo.ad.codriver.dwd.entity.DwCountDTO">
        SELECT count(1), min(ogron.id) min_id, max(ogron.id) max_id
        FROM ods_game_record_one_net ogron
        WHERE ogron.dates = #{dates}
        <if test="startId != null and startId > 0">
            and ogron.id > #{startId}
        </if>
    </select>
    <select id="queryStatisticsByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserGameRecordOeta">
        SELECT dugro.id,
               t.source_id,
               t.dates,
               t.pkg_id,
               t.game_id,
               t.user_id,
               t.s_id,
               t.played_time,
               t.game_result,
               t.reward_source,
               t.reward_account_type,
               t.reward,
               t.expend,
               t.expend_account_type,
               t.create_time    source_create_time,
               t.update_time    source_update_time,
               t.game_code,
               dui.user_id,
               dui.last_version `version`,
               dui.pkg,
               dui.country
        FROM (SELECT ogron.id source_id,
                     ogron.dates,
                     ogron.pkg_id,
                     ogron.game_id,
                     ogron.game_code,
                     ogron.user_id,
                     ogron.s_id,
                     ogron.played_time,
                     ogron.start_time,
                     ogron.end_time,
                     ogron.game_result,
                     ogron.reward_source,
                     ogron.reward_account_type,
                     ogron.reward,
                     ogron.expend,
                     ogron.expend_account_type,
                     ogron.create_time,
                     ogron.update_time
              FROM ods_game_record_one_net ogron
              where ogron.dates = #{dates}
                and ogron.id > #{startSourceId}
                and ogron.id <![CDATA[<= ]]>  #{endSourceId}) t
                 INNER JOIN dim_user_info dui on (dui.user_id = t.user_id)
                 LEFT JOIN dwd_user_game_record_oeta dugro on (dugro.source_id = t.source_id)
    </select>
</mapper>
