<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserAdRecordMapper">
    <select id="getCountByDate" resultType="java.lang.Long">
        SELECT count(1)
        FROM ods_max_ad_stat_detail_ads omasda
                 INNER JOIN dim_user_info dui on (omasda.gaid = dui.gaid and omasda.pkg = dui.pkg)
        WHERE omasda.dates = #{dates}
    </select>
    <select id="queryByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        SELECT dulr.id,
               omasda.dates,
               dui.user_id,
               dui.last_version `version`,
               dui.pkg,
               dui.country,
               omasda.ad_format,
               omasda.network,
               omasda.ad_exhibit,
               omasda.revenue,
               omasda.created   create_time
        FROM ods_max_ad_stat_detail_ads omasda
                 INNER JOIN dim_user_info dui on (omasda.gaid = dui.gaid and omasda.pkg = dui.pkg)
                 LEFT JOIN dwd_user_ad_record dulr on (dulr.dates = omasda.dates and dulr.user_id = dui.user_id
            and dulr.pkg = dui.pkg and dulr.country = dui.country)
        WHERE omasda.dates = #{dates}
        limit #{startRows}, #{rows}
    </select>
</mapper>
