<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserLtvRecordMapper">
    <select id="getCountByDate" resultType="java.lang.Long">
        SELECT count(1)
        FROM ods_user_ltv_record_diversion oulrd
                 INNER JOIN dim_user_info dui on (oulrd.user_id = dui.user_id)
        WHERE oulrd.`type` = 2
          and oulrd.dates = #{dates}
    </select>
    <select id="queryByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserLtvRecord">
        SELECT dulr.id,
               oulrd.dates,
               dui.user_id,
               dui.last_version `version`,
               dui.pkg,
               dui.country,
               oulrd.`type`,
               oulrd.ltv,
               IFNULL(dulr.create_time, now())
        FROM ods_user_ltv_record_diversion oulrd
                 INNER JOIN dim_user_info dui on (oulrd.user_id = dui.user_id)
                 LEFT JOIN dwd_user_ltv_record dulr on (dulr.dates = oulrd.dates and dulr.user_id = oulrd.user_id
            and dulr.pkg = dui.pkg and dulr.country = dui.country)
        WHERE oulrd.`type` = 2
          and oulrd.dates = #{dates}
        limit #{startRows}, #{rows}
    </select>
</mapper>
