<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserAdRecordMapper">
    <select id="getDbCountOfId" resultType="com.leo.ad.codriver.common.DwCountDTO">
        SELECT count(1) count, min(duar.id) min_id, max(duar.id) max_id
        FROM dwd_user_ad_record duar
        WHERE duar.dates = #{dates}
    </select>

    <select id="getStatisticsCount" resultType="com.leo.ad.codriver.common.DwCountDTO">
        SELECT count(1) count, min(omasda.id) min_id, max(omasda.id) max_id
        FROM ods_max_ad_stat_detail_ads omasda
                 inner join dim_channel dc on dc.pkg = omasda.pkg
        WHERE omasda.dates = #{dates}
    </select>
    <select id="queryStatisticsByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        select duar.id,
               t.source_id,
               t.dates,
               t.pkg,
               t.ad_format,
               t.network,
               t.ad_exhibit,
               t.revenue,
               t.source_create_time,
               dui.user_id,
               dui.last_version                                          `version`,
               dui.country,
               dui.dates                                                 register_dates,
               TIMESTAMPDIFF(DAY, dui.create_time, t.source_create_time) register_cohort_day,
               TIMESTAMPDIFF(DAY, dui.dates, t.dates)                    register_day
        from (SELECT omasda.id      source_id,
                     omasda.dates,
                     omasda.gaid,
                     omasda.pkg,
                     omasda.ad_format,
                     omasda.network,
                     omasda.ad_exhibit,
                     omasda.revenue,
                     omasda.bdates  bdates,
                     omasda.created source_create_time
              FROM ods_max_ad_stat_detail_ads omasda
              WHERE omasda.dates = #{dates}
                and omasda.id >= #{startSourceId}
                and omasda.id  <![CDATA[<= ]]> #{endSourceId}
                and omasda.gaid is not null
                and omasda.gaid <![CDATA[ <>]]> '') t
                 LEFT JOIN dwd_user_ad_record duar on (duar.source_id = t.source_id and duar.dates = t.dates)
                 INNER JOIN dim_user_info dui on (dui.gaid = t.gaid and dui.pkg = t.pkg and dui.dates = t.bdates)

    </select>
    <select id="queryDbActiveListByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        SELECT *
        FROM dwd_user_ad_record duar
        WHERE duar.dates = #{dates}
          and duar.id >= #{startId}
          and duar.id
        <![CDATA[ <]]>
              #{endId}
    </select>
    <select id="queryDbNewListByDate" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        SELECT *
        FROM dwd_user_ad_record duar
                 INNER JOIN dim_user_info dui
                            on (duar.user_id = dui.user_id and duar.dates = dui.dates)
        WHERE duar.dates = #{dates}
          and duar.id >= #{startId}
          and duar.id
        <![CDATA[ <]]>
              #{endId}
    </select>
    <select id="queryDbActiveListByDateUsrc" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        SELECT duar.*, IFNULL(dus.network, 'Unknown') user_source
        FROM dwd_user_ad_record duar
                 left join dim_user_source dus on (dus.user_id = duar.user_id)
        WHERE duar.dates = #{dates}
          and duar.id >= #{startId}
          and duar.id
        <![CDATA[ <]]>
              #{endId}
    </select>
    <select id="queryDbNewListByDateUsrc" resultType="com.leo.ad.codriver.dwd.entity.DwdUserAdRecord">
        SELECT duar.*, IFNULL(dus.network, 'Unknown') user_source
        FROM dwd_user_ad_record duar
                 INNER JOIN dim_user_info dui
                            on (duar.user_id = dui.user_id and duar.dates = dui.dates)
                 left join dim_user_source dus on (dus.user_id = duar.user_id)
        WHERE duar.dates = #{dates}
          and duar.id >= #{startId}
          and duar.id
        <![CDATA[ <]]>
              #{endId}
    </select>
    <select id="queryNotExistsOdsId" resultType="java.lang.Long">
        select duar.source_id
        from dwd_user_ad_record duar
                 LEFT JOIN ods_max_ad_stat_detail_ads omasda
                           ON omasda.id = duar.source_id
        where duar.dates = #{dates}
          and omasda.id is null
        limit #{limitNum}
    </select>
    <delete id="deleteSourceId">
        DELETE
        FROM dwd_user_ad_record
        WHERE source_id IN
        <foreach item="item" collection="notExistsOdsId" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
