<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserRegisterMapper">

    <delete id="deleteByDates">
        delete
        from dwd_user_register
        where dates = #{dates}
    </delete>
    <select id="getStatisticsCount" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select min(id) as minId, max(id) as maxId, count(1) as count
        from ods_user u
        where u.dates = #{dates}
    </select>
    <select id="getDbCountOfId" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select min(id) as minId, max(id) as maxId, count(1) as count
        from dwd_user_register
        where dates = #{dates}
    </select>
    <select id="queryUsrcListWithAndId" resultType="com.leo.ad.codriver.dwd.entity.DwdUserRegister">
        select dur.*, IFNULL(dus.network, 'Unknown') user_source
        from dwd_user_register dur
                 left join dim_user_source dus on (dur.user_id = dus.user_id)
        where dur.dates = #{dates}
          and dur.id >= #{startId}
          and <![CDATA[ dur.id <= ]]>#{endId}
    </select>
    <select id="statisticsPage" resultType="com.leo.ad.codriver.dwd.entity.DwdUserRegister">
        select dur.id,
               u.dates,
               u.id user_id,
               u.pkg,
               'IN' country,
               dui.version,
               u.create_time
        from ods_user u
                 LEFT JOIN dim_user_info dui on dui.user_id = u.id
                 left join dwd_user_register dur on (u.id = dur.user_id)
        where u.dates = #{dates}
          and u.id >= #{startId}
          and u.id <![CDATA[<=]]> #{endId}

    </select>
</mapper>
