<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserWithdrawRecordMapper">

    <select id="getWithdrawCountByUpdateDate" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select count(1) count, min(wr.id) min_id, max(wr.id) max_id
        from ods_withdraw_record wr
        where wr.updated >= CONCAT(#{dateStr}, ' 00:00:00')
          and wr.updated <![CDATA[ <]]> DATE_ADD(CONCAT(#{dateStr}, ' 00:00:00'),
                                       INTERVAL 1 DAY)
    </select>

    <select id="queryWithdrawList" resultType="com.leo.ad.codriver.dwd.entity.DwdUserWithdrawRecord">
        select duwr.id,
               wr.dates,
               wr.id                                                                   source_id,
               wr.project_name,
               wr.user_id,
               wr.withdraw_type,
               wr.status,
               IFNULL(oprw.amount, IFNULL(wr.amount, 0))                               amount,
               IFNULL(IFNULL(oprw.fee, IFNULL(wr.fee, 0)), 0)                          fee,
               #{singleFee} `exchange_rate`,
               ROUND(IFNULL(oprw.amount, IFNULL(wr.amount, 0)) / #{singleFee}, 8)      `change_amount`,
               ROUND(IFNULL(IFNULL(oprw.fee, IFNULL(wr.fee, 0)), 0) / #{singleFee}, 8) `change_fee`,
               ROUND((IFNULL(IFNULL(oprw.fee, IFNULL(wr.fee, 0)), 0) + IFNULL(oprw.amount, IFNULL(wr.amount, 0))) /
                     #{singleFee}, 8)                                                  change_total_amount,
               wr.num,
               uv.max_pvn                                                              version,
               u.pkg,
               IFNULL(uh.address, 'IN')                                                country,
               u.dates                                                                 register_dates,
               u.create_time                                                           register_date,
               uv.pvn                                                                  register_version,
               TIMESTAMPDIFF(DAY, u.create_time, wr.created)                           register_cohort_day,
               TIMESTAMPDIFF(DAY, u.dates, wr.dates)                                   register_day,
               wr.created                                                              create_time,
               DATE_FORMAT(wr.updated, '%Y%m%d')                                       update_dates,
               TIMESTAMPDIFF(DAY, u.create_time, wr.updated)                           register_withdraw_cohort_day,
               TIMESTAMPDIFF(DAY, u.dates, wr.updated)                                 register_withdraw_day,
               wr.updated                                                              update_time
        from ods_withdraw_record wr
                 INNER JOIN ods_user u on (wr.user_id = u.id)
                 LEFT JOIN ods_user_hema uh on (uh.aid = u.aid and uh.pkg = u.pkg)
                 LEFT JOIN (SELECT uv.user_id, MIN(uv.pvn) pvn, max(uv.pvn) max_pvn
                            FROM ods_user_version uv
                            where uv.dates <![CDATA[ <=]]> #{dates}
                            GROUP BY user_id) uv on (uv.user_id = u.id)
                 LEFT JOIN ods_pay_record_withdraw oprw on (oprw.withdraw_record_id = wr.id and oprw.status = 1)
                 LEFT JOIN dwd_user_withdraw_record duwr on (duwr.source_id = wr.id)
        where wr.updated >= CONCAT(#{dateStr}, ' 00:00:00')
          and wr.updated <![CDATA[ <]]> DATE_ADD(CONCAT(#{dateStr}, ' 00:00:00'),
                                       INTERVAL 1 DAY)
          and wr.id >= #{startId}
          and wr.id <![CDATA[<=]]> #{endId}
    </select>
    <select id="getDbCountOfId" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select count(1) count, min(id) min_id, max(id) max_id
        from dwd_user_withdraw_record
        where update_dates = #{dates}
    </select>
    <select id="queryListByDates" resultType="com.leo.ad.codriver.dwd.entity.DwdUserWithdrawRecord">
        SELECT duwr.id,
               duwr.update_dates              dates,
               duwr.source_id,
               duwr.project_name,
               duwr.user_id,
               duwr.withdraw_type,
               duwr.amount,
               duwr.fee,
               duwr.exchange_rate,
               duwr.change_amount,
               duwr.change_fee,
               duwr.change_total_amount,
               duwr.status,
               duwr.version,
               duwr.pkg,
               duwr.country,
               duwr.register_date,
               duwr.register_dates,
               duwr.register_version,
               duwr.register_day,
               duwr.register_cohort_day,
               duwr.create_time,
               duwr.update_dates,
               duwr.register_withdraw_day,
               duwr.register_withdraw_cohort_day,
               duwr.update_time,
               IFNULL(dus.network, 'Unknown') user_source
        FROM dwd_user_withdraw_record duwr
                 left join dim_user_source dus on (duwr.user_id = dus.user_id)
        WHERE duwr.update_dates = #{dates}
          and duwr.id >= #{startId}
          and duwr.id <![CDATA[<]]> #{endId}
    </select>


</mapper>
