<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserGameFragmentGoodsRecordMapper">

    <resultMap id="BaseResultMap" type="com.leo.ad.codriver.dwd.entity.DwdUserGameFragmentGoodsRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dates" column="dates" jdbcType="INTEGER"/>
        <result property="pkg" column="pkg" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="goods" column="goods" jdbcType="INTEGER"/>
        <result property="recordType" column="record_type" jdbcType="INTEGER"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="pvn" column="pvn" jdbcType="VARCHAR"/>
        <result property="sourceType" column="source_type" jdbcType="INTEGER"/>
        <result property="sourceId" column="source_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dates,pkg,
        user_id,goods,record_type,
        num,pvn,source_type,
        source_id,create_time
    </sql>
    <delete id="deleteByDates">
        delete
        from dwd_user_game_fragment_goods_record
        where dates = #{dates}
    </delete>
    <select id="getOdsStatisticsCount" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select min(ouggr.id) min_id, max(ouggr.id) max_id, count(1) count
        from ods_user_game_goods_record ouggr
        where ouggr.dates = #{dates}
          and ouggr.goods in (2001, 2002, 2003, 2004, 2005, 2009)
    </select>
    <select id="queryOdsStatisticsInterval"
            resultType="com.leo.ad.codriver.dwd.entity.DwdUserGameFragmentGoodsRecord">
        select dui.pkg, ouggr.*
        from ods_user_game_goods_record ouggr
                 left join dim_user_info dui on dui.user_id = ouggr.user_id
                 left join dwd_user_game_fragment_goods_record dugfgr on ouggr.id = dugfgr.id
        where ouggr.dates = #{dates}
          and dugfgr.id is null
          and ouggr.goods in (2001, 2002, 2003, 2004, 2005, 2009)
          and ouggr.id >= #{startId}
          and ouggr.id <![CDATA[ <= ]]>#{endId}
    </select>
    <select id="getDwdFragmentRecordStatisticsCount" resultType="com.leo.ad.codriver.common.DwCountDTO">
        select min(d.id) min_id, max(d.id) max_id, count(1) count
        from dwd_user_game_fragment_goods_record d
        where d.dates = #{dates}
    </select>
    <select id="queryDwdFragmentRecordInterval"
            resultType="com.leo.ad.codriver.dwd.entity.DwdUserGameFragmentGoodsRecord">
        select d.*
        from dwd_user_game_fragment_goods_record d
        where d.dates = #{dates}
          and d.id >= #{startId}
          and d.id <![CDATA[ <= ]]>#{endId}
    </select>
</mapper>
