<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserRegisterMapper">

    <delete id="deleteByDates">
        delete
        from dwd_user_register
        where dates = #{dates}
    </delete>
    <select id="statistics" resultType="com.leo.ad.codriver.dwd.entity.DwdUserRegister">
        select u.dates,
               u.id                      user_id,
               u.pkg,
               IFNULL(uh.address, 'IN')  country,
               IFNULL(uv.pvn, 'unknown') version,
               u.create_time
        from ods_user u
                 LEFT JOIN (SELECT uv.user_id, uv.pvn
                            FROM (SELECT user_id, MIN(create_time) AS min_create_time
                                  FROM ods_user_version
                                  GROUP BY user_id) min_uv
                                     INNER JOIN ods_user_version uv
                                                ON min_uv.user_id = uv.user_id AND min_uv.min_create_time = uv.create_time) uv
                           ON u.id = uv.user_id
                 LEFT JOIN ods_user_hema uh on (uh.aid = u.aid and uh.pkg = u.pkg)
        where u.dates = #{dates}
        limit #{rows} offset #{startRows}
    </select>
    <select id="getStatisticsCount" resultType="java.lang.Long">
        select count(u.id)
        from ods_user u
        where u.dates = #{dates}
    </select>
</mapper>
