<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserLoginRecordMapper">


    <delete id="deleteByDates">
        delete
        from dwd_user_login_record
        where dates = #{dates}
    </delete>
    <select id="getStatisticsCount" resultType="java.lang.Long">
        select count(1)
        FROM diversion.login_log ll
        WHERE ll.dates = #{dates}
    </select>
    <select id="statistics" resultType="com.leo.ad.codriver.dwd.entity.DwdUserLoginRecord">
        SELECT ll.user_id,
               ll.dates,
               ll.create_time,
               u.dates                                           register_dates,
               u.create_time                                     register_date,
               u.pkg,
               IFNULL(uh.address, 'IN')                          country,
               TIMESTAMPDIFF(DAY, u.create_time, ll.create_time) register_cohort_day,
               TIMESTAMPDIFF(DAY, u.dates, ll.dates)             register_day,
               uvm.pvn                                           register_version,
               ll.pvn                                            version
        FROM diversion.login_log ll
                 INNER JOIN diversion.`user` u on (ll.user_id = u.id)
                 LEFT JOIN diversion.user_hema uh on (uh.aid = u.aid and uh.pkg = u.pkg)
                 LEFT JOIN (SELECT user_id, min(pvn) pvn FROM diversion.user_version group by user_id) uvm
                           on (uvm.user_id = ll.user_id)
        WHERE ll.dates = #{dates} limit #{rows}
        offset #{startRows}
    </select>


</mapper>
