<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserConversionMapper">

    <delete id="deleteByDates">
        delete
        from dwd_user_conversion
        where dates = #{dates}
    </delete>
    <select id="statisticsFromOfferRecord" resultType="com.leo.ad.codriver.dwd.entity.DwdUserConversion">
<![CDATA[
        select r.dates,
               u.pkg,
               IFNULL(uv.max_pvn, 'unknown')                                                         version,
               IFNULL(uv.min_pvn, 'unknown')                                                         register_version,
               IFNULL(uh.address, 'IN')                                                              country,
               u.create_time                                                                         register_date,
               u.dates                                                                               register_dates,
               CONVERT(r.user_id, SIGNED)                                                            user_id,
               type,
               DATE_FORMAT(FROM_UNIXTIME(CONVERT(r.time_stamp, SIGNED) / 1000), '%Y-%m-%d %H:%i:%s') create_time
        from ods_offer_record r
                 LEFT JOIN ods_user u on (r.user_id = u.id)
                 LEFT JOIN ods_user_hema uh on (uh.aid = u.aid and uh.pkg = u.pkg)
                 LEFT JOIN (SELECT user_id, max(pvn) max_pvn, min(pvn) min_pvn
                            FROM ods_user_version
                            where dates <= #{dates}
                            GROUP BY user_id) uv
                           ON r.user_id = uv.user_id
        where r.dates = #{dates}
          and r.user_id REGEXP '^-?[0-9]+$'
        limit #{rows} offset #{startRows}
        ]]>
    </select>
    <select id="countFromOfferRecord" resultType="java.lang.Long">
        select count(r.id)
        from ods_offer_record r
        where r.dates = #{dates}
          and r.user_id REGEXP '^-?[0-9]+$'
    </select>
    <select id="statisticsFromHemaOfferRecord"
            resultType="com.leo.ad.codriver.dwd.entity.DwdUserConversion">
        <![CDATA[
        SELECT r.dates,
               u.pkg,
               IFNULL(uv.max_pvn, 'unknown')                                                         version,
               IFNULL(uv.min_pvn, 'unknown')                                                         register_version,
               IFNULL(uh.address, 'IN')                                                              country,
               u.create_time                                                                         register_date,
               u.dates                                                                               register_dates,
               u.id                                                                                  user_id,
               r.type,
               DATE_FORMAT(FROM_UNIXTIME(CONVERT(r.time_stamp, SIGNED) / 1000), '%Y-%m-%d %H:%i:%s') create_time
        FROM ods_offer_record r
                 LEFT JOIN ods_user u ON r.user_id = u.aid
                 left join ods_user_hema uh on (uh.aid = u.aid and uh.pkg = u.pkg)
                 LEFT JOIN (SELECT user_id, max(pvn) max_pvn, min(pvn) min_pvn
                            FROM ods_user_version
                            where dates <= #{dates}
                            GROUP BY user_id) uv
                           ON u.id = uv.user_id
        WHERE r.dates = #{dates}
          AND u.id IS NOT NULL
        limit #{rows} offset #{startRows}
        ]]>
    </select>
    <select id="countFromHemaOfferRecord" resultType="java.lang.Long">
        SELECT count(r.id)
        FROM ods_offer_record r
                 LEFT JOIN ods_user u ON r.user_id = u.aid
        WHERE r.dates = #{dates}
          AND u.id IS NOT NULL
    </select>
</mapper>
