<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.dwd.dao.DwdUserBalanceRecordMapper">

    <select id="getRecordCount" resultType="java.lang.Long">
        select count(1)
        from ods_user_account ua
                 INNER JOIN ods_user u
                            on (ua.user_id = u.id)
    </select>
    <select id="queryStatistics" resultType="com.leo.ad.codriver.dwd.entity.DwdUserBalanceRecord">
        select dwbr.id,
               ua.user_id,
               u.pkg,
               IFNULL(uh.address, 'IN') country,
               ua.balance,
               ua.n1,
               ua.n2,
               ua.points,
               ua.transfer,
               now()                    update_time
        from ods_user_account ua
                 INNER JOIN ods_user u on (ua.user_id = u.id)
                 LEFT JOIN ods_user_hema uh on (u.aid = uh.aid and uh.pkg = u.pkg)
                 LEFT JOIN dwd_user_balance_record dwbr on (dwbr.user_id = ua.user_id)
        limit #{rows} OFFSET #{startRows}
    </select>
</mapper>
