<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leo.ad.codriver.ads.dao.AdsDailyGameOetaReportMapper">

    <select id="queryStatisticsActiveList" resultType="com.leo.ad.codriver.ads.entity.AdsDailyGameOetaReport">
        SELECT

            d.dates,
            d.version,
            d.pkg,
            d.user_type,-- 假设新用户数、次日留存数、三日留存数、活跃用户数、人均在线时长等信息不在 DWS 表中直接提供，
-- 这里需要根据实际情况调整或使用默认值
            IFNULL( ddpr.user_num, 0 ) new_user_num,
            IFNULL( ddpr2.retention_user_num, 0 ) second_user_num,
            IFNULL( ddpr3.retention_user_num, 0 ) tertiary_user_num,
            ddpl.user_num active_user_num,
            IFNULL( ddpo.avg_user_online_time, 0 ) avg_user_online_time,


            -- 入门游戏相关数据
            d.intro_user_count,
            d.intro_user_count/ddpr.user_num  intro_user_rate,
            d.intro_game_reward intro_game_reward,
            d.intro_avg_reward  intro_avg_game_reward,

            -- 转盘游戏相关数据
            d.turn_user_count ,
            d.turn_game_count/d.turn_user_count turn_avg_game_count,
            d.turn_user_count/ddpr.user_num turn_user_rate,
            d.turn_game_consume turn_game_consume,
            d.turn_game_reward turn_game_reward,
            d.turn_avg_consume turn_avg_game_consume,
            d.turn_avg_reward turn_avg_game_reward,

            -- 小游戏相关数据

            0 as mini_exchange_chip_count,
            0 as mini_exchange_ch_count,
            0 as mini_exchange_ch_amount,
            0 as mini_exchange_chip_amount,
            d.mini_user_count,
            d.mini_game_count/ddpr.user_num mini_avg_game_count,
            d.mini_game_time/ddpr.user_num mini_avg_game_time,
            d.mini_user_count/ddpr.user_num mini_user_rate,
            d.mini_game_consume mini_game_consume,
            d.mini_avg_consume mini_avg_game_consume,
            d.mini_game_reward mini_game_reward,
            d.mini_avg_reward mini_avg_game_reward,
            d.mini_rtp,
            d.create_time

        FROM
            dws_daily_package_all_game  d
                LEFT JOIN dws_daily_package_all_login ddpl on (d.dates = ddpl.dates and d.pkg = ddpl.pkg and d.version  = ddpl.version)
                LEFT JOIN dws_daily_package_all_register ddpr ON ( ddpl.dates = ddpr.dates AND ddpl.pkg = ddpr.pkg AND ddpl.version = ddpr.version )
                LEFT JOIN dws_daily_package_all_retention ddpr2 ON (
                        ddpl.dates = ddpr2.register_dates
                    AND ddpl.pkg = ddpr2.pkg
                    AND ddpl.version = ddpr2.version
                    AND ddpr2.register_day = 1
                )
                LEFT JOIN dws_daily_package_all_retention ddpr3 ON (
                        ddpl.dates = ddpr3.register_dates
                    AND ddpl.pkg = ddpr3.pkg
                    AND ddpl.version = ddpr3.version
                    AND ddpr3.register_day = 2
                )
                LEFT JOIN dws_daily_package_all_online ddpo ON ( ddpl.dates = ddpo.dates AND ddpl.pkg = ddpo.pkg AND ddpl.version = ddpo.version )

        WHERE
            d.dates = #{dates} and d.user_type = 0 ;-- 假定日期为2024年8月1日，可根据实际情况调整
    </select>
    <select id="queryStatisticsNewList" resultType="com.leo.ad.codriver.ads.entity.AdsDailyGameOetaReport">
        SELECT

            d.dates,
            d.version,
            d.pkg,
            d.user_type,-- 假设新用户数、次日留存数、三日留存数、活跃用户数、人均在线时长等信息不在 DWS 表中直接提供，
-- 这里需要根据实际情况调整或使用默认值
            IFNULL( ddpr.user_num, 0 ) new_user_num,
            IFNULL( ddpr2.retention_user_num, 0 ) second_user_num,
            IFNULL( ddpr3.retention_user_num, 0 ) tertiary_user_num,
            ddpl.user_num active_user_num,
            IFNULL( ddpo.avg_user_online_time, 0 ) avg_user_online_time,


            -- 入门游戏相关数据
            d.intro_user_count,
            d.intro_user_count/ddpr.user_num  intro_user_rate,
            d.intro_game_reward intro_game_reward,
            d.intro_avg_reward  intro_avg_game_reward,

            -- 转盘游戏相关数据
            d.turn_user_count ,
            d.turn_game_count/d.turn_user_count turn_avg_game_count,
            d.turn_user_count/ddpr.user_num turn_user_rate,
            d.turn_game_consume turn_game_consume,
            d.turn_game_reward turn_game_reward,
            d.turn_avg_consume turn_avg_game_consume,
            d.turn_avg_reward turn_avg_game_reward,

            -- 小游戏相关数据

            0 as mini_exchange_chip_count,
            0 as mini_exchange_ch_count,
            0 as mini_exchange_ch_amount,
            0 as mini_exchange_chip_amount,
            d.mini_user_count,
            d.mini_game_count/ddpr.user_num mini_avg_game_count,
            d.mini_game_time/ddpr.user_num mini_avg_game_time,
            d.mini_user_count/ddpr.user_num mini_user_rate,
            d.mini_game_consume mini_game_consume,
            d.mini_avg_consume mini_avg_game_consume,
            d.mini_game_reward mini_game_reward,
            d.mini_avg_reward mini_avg_game_reward,
            d.mini_rtp,
            d.create_time

        FROM
            dws_daily_package_all_game  d
                LEFT JOIN dws_daily_package_all_login ddpl on (d.dates = ddpl.dates and d.pkg = ddpl.pkg and d.version  = ddpl.version)
                LEFT JOIN dws_daily_package_all_register ddpr ON ( ddpl.dates = ddpr.dates AND ddpl.pkg = ddpr.pkg AND ddpl.version = ddpr.version )
                LEFT JOIN dws_daily_package_all_retention ddpr2 ON (
                        ddpl.dates = ddpr2.register_dates
                    AND ddpl.pkg = ddpr2.pkg
                    AND ddpl.version = ddpr2.version
                    AND ddpr2.register_day = 1
                )
                LEFT JOIN dws_daily_package_all_retention ddpr3 ON (
                        ddpl.dates = ddpr3.register_dates
                    AND ddpl.pkg = ddpr3.pkg
                    AND ddpl.version = ddpr3.version
                    AND ddpr3.register_day = 2
                )
                LEFT JOIN dws_daily_package_all_online ddpo ON ( ddpl.dates = ddpo.dates AND ddpl.pkg = ddpo.pkg AND ddpl.version = ddpo.version )

        WHERE
            d.dates = #{dates} and d.user_type = 1;-- 假定日期为2024年8月1日，可根据实际情况调整
    </select>

</mapper>
